<app-frame>
  <div class="main">
    <div class="title">
      <span class="our-comminment" [ngClass]="{'for_not_en_title': !isEng}">{{'comminment.title' | translate}}</span>
      <span class="com-text">{{'comminment.desc' | translate}}
      </span>
    </div>
    <div class="content">
      <div class="owner">
        <div class="owner-photo"></div>
        <div class="owner-text" [ngClass]="{'for_not_en': !isEng}">{{'comminment.phrase' | translate}}
        </div>
        <div class="prizes">
          <div class="prize prize1"></div>
          <div class="prize prize2"></div>
          <div class="prize prize3"></div>
        </div>
      </div>
      <div class="declaration">
        <div class="category-card">
          <div class="card-content">
            <div class="card-header">
              <div class="hr-wrap-top"><hr></div>
              <div class="com-logo">{{'comminment.title' | translate}}</div>
              <div class="hr-wrap-top"><hr></div>
            </div>
            <div class="card-body">
              <span class="question">
               {{'comminment.q1' | translate}}
              </span>
              <span class="answer">{{'comminment.q1a' | translate}}
              </span>
              <span class="question">{{'comminment.q2' | translate}}</span>
              <span class="answer">{{'comminment.q2a' | translate}}
              </span>
              <span class="question">{{'comminment.q3' | translate}}</span>
              <span class="answer">{{'comminment.q3a' | translate}}
              </span>
              <span class="question">{{'comminment.q4' | translate}}
              </span>
              <span class="answer">{{'comminment.q4a' | translate}}
              </span>
              </div>
            <div class="card-footer">
              <hr>
            </div>
          </div>

        </div>

      </div>

  </div>
  </div>
  <div class="main2">
    <div class="our-comminment">{{'comminment.title' | translate}}</div>
    <div class="owner-photo">
      <div class="prizes">
        <div class="prize prize1"></div>
        <div class="prize prize2"></div>
        <div class="prize prize3"></div>
      </div>
    </div>
    <div class="text">
      <span class="question">{{'comminment.q1' | translate}}
              </span>
      <span class="answer">{{'comminment.q1a' | translate}}
              </span>
      <span class="question">{{'comminment.q2' | translate}}
              </span>
      <span class="answer">{{'comminment.q2a' | translate}}
              </span>
      <span class="question">{{'comminment.q3' | translate}}
              </span>
      <span class="answer">{{'comminment.q3a' | translate}}
              </span>
      <span class="question">{{'comminment.q4' | translate}}
              </span>
      <span class="answer">{{'comminment.q4a' | translate}}
              </span>
    </div>
  </div>
</app-frame>
