@font-face {
  font-family: Cookie;
  src: url('../../assets/fonts/Cookie-Regular.ttf') format("opentype");
}
@font-face {
  font-family: JosefinSans Regular;
  src: url('../../assets/fonts/JosefinSans-Regular.ttf') format("opentype");
}
.main{
  height: 100%;
  width: 100%;
  overflow: hidden;
}
.main2{
  display: none;
}
.category-card {
  background-color: white;
  width: 100%;
  height: 100%;
  box-shadow: 14px 2px 3px 5px rgba(0,0,0,0.25);
  position: relative;
  display: flex;
  align-items: center;
  border: solid rgba(0,0,0,0.25) 0.01px;

}
.card-content {
  width: 85%;
  height: 100%;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.card-header {
  height: 15%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.hr-wrap-top {
  display: flex;
  align-items: center;
  width: 38%;
}
.logo-m {
  width: 8vw;
  height: 8vh;
  position: relative;
  background:transparent url('../../assets/logo.png') 0% 0% no-repeat padding-box;
  background-size: contain;
}
.heder-logo {
  height: 90%;
  width: 14%;
}
hr {
  height: 2px;
  background: #AB9690;
  width: 100%;
}
.card-body {
  height: 80%;
  display: flex;
  justify-content: space-between;
  overflow: hidden;
}
.right-side{
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}
.col{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 100%;
  width: 50%;
}
.card-footer {
  height: 15%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.ingredients {
  height: 100%;
  width: 40%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  animation-name: ing-appearance;
  animation-duration: 1s;
  animation-timing-function: ease-out;
}
@keyframes ing-appearance {
  0%{
    opacity: .5;
    height: 0;
  }
  100%{
    opacity: 1;
    height: 100%;
  }
}
.ingredient {
  display: flex;
  justify-content: space-between;
  height: 17%;
}
.ing-name {
  width: 60%;
  display: flex;
  align-items: center;
  font: 1vw JosefinSans Regular;
  z-index: 100;
  line-height: .8;
  -webkit-text-stroke: .1px white;
}

.ing-spot {
  width: 32%;
  height: 100%;
  bottom: 25%;
  right: 66%;
  z-index: 10000;
}
.cup {
  height: 100%;
  position: relative;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  opacity: .3;
}
.btns-wrap {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 25%;
}
.bnttext {
  font: 1vw JosefinSans Regular;
  color: white;
  margin-left: 5%;
}
.orangebtn:hover {
   transform:scale(1.2);
   transition: all 0.5s ease-in-out ;
}
.orangebtn:active {
  transform:scale(1.8);
  transition: all 1s ease-in-out;
}
.orangebtn:focus {
  outline: 0;
}
.orangebtn {
  width: 70%;
  height: 45%;
  position: relative;
  background-color: #E04523;
  border-radius: 12px;
  border: none;
  display: flex;
  align-items: center;
  box-shadow: 14px 8px 2px 5px rgba(0,0,0,0.25);
  transition: all 0.5s ease-in-out ;

}
.graybtn{
  background-color: #E4D5CA;
}

.price {
  width: 60%;
  height: 20%;
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}
.numb {
  width: 75%;
  height: 100%;
  color: #E04523;
  display: flex;
  justify-content: center;
  font: 5vw JosefinSans Regular;
  position: relative;
}
.only-shek {
  width: 30%;
  height: 80%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.only {
  width: 100%;
  height: 30%;
  font: 1vw JosefinSans Regular;
  display: flex;
  justify-content: center;
}
.shek {
  width: 100%;
  height: 70%;
  background:transparent url('../../assets/shekel.png') 0% 0% no-repeat padding-box;
  background-size: contain;
  background-position: center;
  margin-top: 1vh;
}
.description {
  height: 40%;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.nutr{
  width: 50%;
  height: 100%;
  background-size: contain;
  background-repeat: no-repeat;

}
.item-title {
  font: 1.5vw JosefinSans Regular;
  display: flex;
  overflow-wrap: anywhere;
}

.item-desc {
  width: 100%;
  height: 70%;
  font: .8vw JosefinSans Regular;
}
.card-footer {
  height: 15%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
/*-------------------------------INGREDIENTS---------------------------------------*/
.oranges{
  background:transparent url('../../assets/orange.png') 0% 0% no-repeat padding-box;
  background-size: contain;
  background-position: center;
}
.mango{
  background:transparent url('../../assets/mango.png') 0% 0% no-repeat padding-box;
  background-size: contain;
  background-position: center;
}
.raspberry{
  background:transparent url('../../assets/raspberry.png') 0% 0% no-repeat padding-box;
  background-size: contain;
  background-position: center;
}
.caramel{
  background:transparent url('../../assets/caramel.png') 0% 0% no-repeat padding-box;
  background-size: contain;
  background-position: center;
}
.whipped-cream{
  background:transparent url('../../assets/whipped-cream.png') 0% 0% no-repeat padding-box;
  background-size: contain;
  background-position: center;
}
.juice{
  background:transparent url('../../assets/juice-splash.png') 0% 0% no-repeat padding-box;
  background-size: contain;
  background-position: center;
}
.ice2{
  background:transparent url('../../assets/ice.png') 0% 0% no-repeat padding-box;
  background-size: contain;
  background-position: center;
}
.baget{
  background:transparent url('../../assets/baget.png') 0% 0% no-repeat padding-box;
  background-size: contain;
  background-position: center;
}
.letuce{
  background:transparent url('../../assets/letuce.png') 0% 0% no-repeat padding-box;
  background-size: contain;
  background-position: center;
}
.tomatoes{
  background:transparent url('../../assets/tomatoes.png') 0% 0% no-repeat padding-box;
  background-size: contain;
  background-position: center;
}
.cucumber{
  background:transparent url('../../assets/cucumber.png') 0% 0% no-repeat padding-box;
  background-size: contain;
  background-position: center;
}
.onion{
  background:transparent url('../../assets/onion.png') 0% 0% no-repeat padding-box;
  background-size: contain;
  background-position: center;
}
.onion-f{
  background:transparent url('../../assets/onion-f.png') 0% 0% no-repeat padding-box;
  background-size: contain;
  background-position: center;
}
.mozzarella{
  background:transparent url('../../assets/mozzarella.png') 0% 0% no-repeat padding-box;
  background-size: contain;
  background-position: center;
}
.cheese{
  background:transparent url('../../assets/cheese.png') 0% 0% no-repeat padding-box;
  background-size: contain;
  background-position: center;
}
.chiken{
  background:transparent url('../../assets/chiken.png') 0% 0% no-repeat padding-box;
  background-size: contain;
  background-position: center;
}
.beef{
  background:transparent url('../../assets/beef.png') 0% 0% no-repeat padding-box;
  background-size: contain;
  background-position: center;
}
.basil{
  background:transparent url('../../assets/basil.png') 0% 0% no-repeat padding-box;
  background-size: contain;
  background-position: center;
}
.spicies{
  background:transparent url('../../assets/spicies.png') 0% 0% no-repeat padding-box;
  background-size: contain;
  background-position: center;
}
.coffee{
  width: 21%;
  height: 90%;
}
.sugar {
  background:transparent url('../../assets/sugar.png') 0% 0% no-repeat padding-box;
  background-size: contain;
  background-position: center;
}
.flour {
  background:transparent url('../../assets/flour.png') 0% 0% no-repeat padding-box;
  background-size: contain;
  background-position: center;
}
.eggs {
  background:transparent url('../../assets/eggs.png') 0% 0% no-repeat padding-box;
  background-size: contain;
  background-position: center;
}
.cocoa {
  background:transparent url('../../assets/cocoa.png') 0% 0% no-repeat padding-box;
  background-size: contain;
  background-position: center;
}
.candle {
  background:transparent url('../../assets/candle.png') 0% 0% no-repeat padding-box;
  background-size: contain;
  background-position: center;
}
.cinnamon {
  background:transparent url('../../assets/cinnamon.png') 0% 0% no-repeat padding-box;
  background-size: contain;
  background-position: center;
}
.nutella {
  background:transparent url('../../assets/nutella.png') 0% 0% no-repeat padding-box;
  background-size: contain;
  background-position: center;
}
.yeast {
  background:transparent url('../../assets/yeast.png') 0% 0% no-repeat padding-box;
  background-size: contain;
  background-position: center;
}
.sprinkling {
  background:transparent url('../../assets/sprinkling.png') 0% 0% no-repeat padding-box;
  background-size: contain;
  background-position: center;
}
.butter {
  background:transparent url('../../assets/butter.png') 0% 0% no-repeat padding-box;
  background-size: contain;
  background-position: center;
}
.peanut-butter {
  background:transparent url('../../assets/peanut-butter.png') 0% 0% no-repeat padding-box;
  background-size: contain;
  background-position: center;
}
.almond {
  background:transparent url('../../assets/almond.png') 0% 0% no-repeat padding-box;
  background-size: contain;
  background-position: center;
}
.chocolate {
  background:transparent url('../../assets/chocolate.png') 0% 0% no-repeat padding-box;
  background-size: contain;
  background-position: center;
}
.water-splash {
  background:transparent url('../../assets/water-splash.png') 0% 0% no-repeat padding-box;
  background-size: contain;
  background-position: center;
}
.cream {
  background:transparent url('../../assets/cream.png') 0% 0% no-repeat padding-box;
  background-size: contain;
  background-position: center;
}
.apple{
  background:transparent url('../../assets/apple.png') 0% 0% no-repeat padding-box;
  background-size: contain;
  background-position: center;
}
.syrup {
  background:transparent url('../../assets/syrup.png') 0% 0% no-repeat padding-box;
  background-size: contain;
  background-position: center;
}
.honey {
  background:transparent url('../../assets/honey.png') 0% 0% no-repeat padding-box;
  background-size: contain;
  background-position: center;
}
.ice {
  background:transparent url('../../assets/ice.png') 0% 0% no-repeat padding-box;
  background-size: contain;
  background-position: center;
}
.oreo {
  background:transparent url('../../assets/oreo.png') 0% 0% no-repeat padding-box;
  background-size: contain;
  background-position: center;
}
.cinnamon {
  background:transparent url('../../assets/cinnamon.png') 0% 0% no-repeat padding-box;
  background-size: contain;
  background-position: center;
}
.blueberry {
  background:transparent url('../../assets/blueberry.png') 0% 0% no-repeat padding-box;
  background-size: contain;
  background-position: center;
}
.black-tea {
  background:transparent url('../../assets/black-tea.png') 0% 0% no-repeat padding-box;
  background-size: contain;
  background-position: center;
}
.bergamonia {
  background:transparent url('../../assets/bergamonia.png') 0% 0% no-repeat padding-box;
  background-size: contain;
  background-position: center;
}
.juice-splash {
  background:transparent url('../../assets/juice-splash.png') 0% 0% no-repeat padding-box;
  background-size: contain;
  background-position: center;
}
.limes {
  background:transparent url('../../assets/lime.png') 0% 0% no-repeat padding-box;
  background-size: contain;
  background-position: center;
}
.eucalyptus {
  background:transparent url('../../assets/eucalyptus.png') 0% 0% no-repeat padding-box;
  background-size: contain;
  background-position: center;
}
.rosemary {
  background:transparent url('../../assets/rosemary.png') 0% 0% no-repeat padding-box;
  background-size: contain;
  background-position: center;
}
.thyme {
  background:transparent url('../../assets/thyme.png') 0% 0% no-repeat padding-box;
  background-size: contain;
  background-position: center;
}
.chamomile {
  background:transparent url('../../assets/chamomile.png') 0% 0% no-repeat padding-box;
  background-size: contain;
  background-position: center;
}
.flour {
  background:transparent url('../../assets/flour.png') 0% 0% no-repeat padding-box;
  background-size: contain;
  background-position: center;
}
.eggs {
  background:transparent url('../../assets/eggs.png') 0% 0% no-repeat padding-box;
  background-size: contain;
  background-position: center;
}
.cinnamon {
  background:transparent url('../../assets/cinnamon.png') 0% 0% no-repeat padding-box;
  background-size: contain;
  background-position: center;
}
.yeast {
  background:transparent url('../../assets/yeast.png') 0% 0% no-repeat padding-box;
  background-size: contain;
  background-position: center;
}
.butter {
  background:transparent url('../../assets/butter.png') 0% 0% no-repeat padding-box;
  background-size: contain;
  background-position: center;
}
.tea-leaves {
  background:transparent url('../../assets/green-tea.png') 0% 0% no-repeat padding-box;
  background-size: contain;
  background-position: center;
}
.tea-splash {
  background:transparent url('../../assets/tea-splash.png') 0% 0% no-repeat padding-box;
  background-size: contain;
  background-position: center;
  height: 33%;
  top: 7%;
  left: 3.4%;
  width: 16%;
}
.mint {
  background:transparent url('../../assets/mint.png') 0% 0% no-repeat padding-box;
  background-size: contain;
  background-position: center;
}
.coffee-splash {
  background:transparent url('../../assets/coffee-splash.png') 0% 0% no-repeat padding-box;
  background-size: contain;
  background-position: center;

}
.milk-splash {
  background:transparent url('../../assets/milk-splash.png') 0% 0% no-repeat padding-box;
  background-size: contain;
  background-position: center;

}
@media only screen and (max-width: 1024px) {
  .main{
    display: none;
  }
  .main2{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
  }
  .cup{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    opacity: .8;
  }
  .row1{
    height: 25%;
    width: 90%;
    display: flex;
    justify-content: space-between;

  }
  .row2{
    height: 25%;
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .row3{
    width: 90%;
    height: 50%;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin-bottom: 5%;
  }
  .subcol{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    width: 50%;
  }
  .price{
    height: 100%;
    width: 30%;
  }
  .only{
    font-size: 3.5vmin;
  }
  .numb{
    font-size: 20vmin;
  }
  .item-title{
    font-size: 9vmin;
    -webkit-text-stroke: .1px white;
  }
  .orangebtn{
    width: 90%;
    justify-content: center;
  }
  .graybtn{
    opacity: .7;
  }
  .ingredients-wrap, .nurts-wrap{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 90%;
    height: 90%;
    overflow: scroll;
  }
  .ingredients-wrap > .ingredient > .ing-name{
    font-size: 5vmin;
  }
  .nurts-wrap > .nutr{
    width: 35%;
    transform: scale(2);
    position: relative;
    left: 45%;
    top: 5%;
  }
}
