<div class="main">
  <div class="category-card">
    <div class="card-content">
      <div class="card-header">
        <div class="hr-wrap-top"><hr></div>
        <div class="logo-m heder-logo"></div>
        <div class="hr-wrap-top"><hr></div>
      </div>
      <form #itemForm="ngForm" class="card-body" >
        <div class="ingredients" *ngIf="ingredients.length > 0" >
          <div class="ingredient" *ngFor="let i of ingredients">
            <div class="ing-spot splash" [ngStyle]="{'background-image': 'url('+i.ingClass+')'}"></div>
            <span class="ing-name">{{i.ing}}</span>
            <fa-icon (click)="remIng(i)" *ngIf="isEdit && x" class="fas fa-times edit remIng" [icon]="['fas', 'times']"  aria-pressed="true"></fa-icon>
          </div>
          <div class="ingredient around" *ngIf="isEdit">
            <span class="edit addIngBut" (click)="showAddEngWindow()">+ {{'addinging.add' | translate}}</span>
          </div>
          <div  class="ingredient newIng" *ngIf="isEdit && addEngWindow">
            <div class="ing-spot splash"[ngStyle]="{'background-image': 'url('+visualIng.url+')'}">
              <input class="hover-text no-width hidden" id="chooseFile3" type='file' (change)="onSelectFile($event, selectedFileIng, visualIng)">
              <label for="chooseFile3" > <fa-icon class="add-ing-img flex" size="2x" [icon]="['fas', 'images']"></fa-icon></label>
            </div>

            <textarea class="textIng" maxlength="10" type="text" [(ngModel)]="ingNewName" [ngModelOptions]="{standalone: true}" required rows="1" cols="1"></textarea>
            <fa-icon (click)="addNewIng()" class="fas fa-check edit addAllIng" [icon]="['fas', 'check']"  aria-pressed="true"></fa-icon>
            <fa-icon (click)="remNewIng()"*ngIf="isEdit && x" class="fas fa-times edit undoIng" [icon]="['fas', 'times']"  aria-pressed="true"></fa-icon>

          </div>
        </div>
        <div class="nutr" [ngStyle]="{'background-image': 'url('+nutrValue.url+')'}" *ngIf="!isEdit"></div>
        <div class="nutr chooseNutr" [ngStyle]="{'background-image': 'url('+nutrValue.url+')'}" *ngIf="isEdit">
          <input *ngIf="isEdit" class="hover-text hidden" id="chooseFile" type='file' (change)="onSelectFile($event, selectedFileNutr, nutrValue)">
          <label *ngIf="isEdit" for="chooseFile" class="hover-text"> <fa-icon size="4x" [icon]="['fas', 'images']" class="filtered"></fa-icon></label>
        </div>

          <div class="col">
            <div class="cup" [ngStyle]="{'background-image': 'url('+visualValue.url+')'}" *ngIf="!isEdit"></div>
            <div class="cup chooseCup" [ngStyle]="{'background-image': 'url('+visualValue.url+')'}" *ngIf="isEdit">
              <input *ngIf="isEdit" class="hover-text hidden" id="chooseFile2" type='file' (change)="onSelectFile($event, selectedFileNutr, visualValue)">
              <label *ngIf="isEdit" for="chooseFile2" class="hover-text"> <fa-icon size="4x" [icon]="['fas', 'images']" class="shadow-drop"></fa-icon></label>
            </div>

          </div>
          <div class="col">
            <div class="price">
              <span class="numb" *ngIf="!isEdit">{{price}}</span>
              <input class="numb" *ngIf="isEdit" [(ngModel)]="price" name="price">
              <div class="only-shek">
                <span class="only">{{'addinging.only' | translate}}</span>
                <div class="shek"></div>
              </div>
            </div>
            <div class="description">
              <span class="item-title" *ngIf="!isEdit">{{title}}</span>
              <label>
                <textarea class="item-title no-resize" *ngIf="isEdit" [(ngModel)]="title" name="title" rows="1" cols="1"></textarea>
              </label>
              <div class="item-desc" *ngIf="!isEdit" >{{desc}}</div>
              <label>
                <textarea class="item-desc no-resize" *ngIf="isEdit" [(ngModel)]="desc" name="desc" rows="4" cols="50"></textarea>
              </label>
            </div>
            <div class="btns-wrap">
              <button class="orangebtn" *ngIf="!isAdmine && !isEdit" (click)="addToTray(data)">
              <fa-icon class="fas fa-plus btn2 active white left-5" [icon]="['fas', 'plus']"  aria-pressed="true"></fa-icon>
                <span class="bnttext">{{'addtotray' | translate}}</span>
              </button>
              <button class="orangebtn graybtn" *ngIf="!isAdmine && !isEdit">
              <fa-icon class="fas fa-shopping-cart btn2 active left-5" [icon]="['fas', 'shopping-cart']" aria-pressed="true"></fa-icon>
                <span class="bnttext" (click)="toTray()">{{'mytray' | translate}}</span>
              </button>
              <button class="orangebtn" *ngIf="isAdmine" (click)="goEdit()">
                <fa-icon class="fas fa-pencil-alt btn2 active white left-5" [icon]="['fas', 'pencil-alt']"  aria-pressed="true"></fa-icon>
                <span class="bnttext">{{'edititem' | translate}}</span>
              </button>
              <div class="check-wrap">
                <button class="edit" *ngIf="isEdit" (click)="onSubmit(itemForm)" [disabled]="ingNewName.length">
                  <fa-icon class="fas fa-check fa-2x" [icon]="['fas', 'check']"  aria-pressed="true"></fa-icon>
                </button>
                <button class="edit" *ngIf="isEdit" (click)="undo()">
                  <fa-icon class="fas fa-undo fa-2x" [icon]="['fas', 'undo']"  aria-pressed="true"></fa-icon>
                </button>
              </div>

              <button class="orangebtn graybtn" *ngIf="isAdmine && !isEdit">
                <fa-icon class="fas fa-trash-alt btn2 active left-5" [icon]="['fas', 'trash-alt']" aria-pressed="true"></fa-icon>
                <span class="bnttext" (click)="delete(data)">{{'deleteitematall' | translate}}</span>
              </button>
            </div>

          </div>

      </form>
      <div class="card-footer">
        <hr>
      </div>
    </div>
  </div>

</div>
<div class="main2">
  <div  *ngIf="!ings && !nutrs" class="cup" [ngStyle]="{'background-image': 'url('+visualValue+')'}">
    <div class="row1">
      <fa-icon class="fas fa-3x fa-chevron-left active goback" [icon]="['fas', 'chevron-left']" (click)="goBack(data)"></fa-icon>
      <div class="price">
        <span *ngIf="!isEdit" class="numb">{{price}}</span>
        <label>
          <input class="numb no-margin" *ngIf="isEdit" [(ngModel)]="price" name="price">
        </label>
        <div class="only-shek">
          <span class="only">{{'addinging.only' | translate}}</span>
          <div class="shek"></div>
        </div>
      </div>
    </div>
    <div class="row2">
      <span *ngIf="!isEdit" class="item-title">{{(title.length > 14)?(title | slice: 0:14)+'..' : title}}</span>
      <textarea class="item-title no-resize auto-height" *ngIf="isEdit" [(ngModel)]="title" name="title" rows="1" cols="1"></textarea>
    </div>
    <div class="row3">
      <div class="subcol">
        <button class="orangebtn graybtn">
          <fa-icon class="fas fa-2x fa-list-ul btn2 active left-5"  (click)="goIngs()" [icon]="['fas', 'list-ul']" aria-pressed="true"></fa-icon>
        </button>
        <button class="orangebtn graybtn">
          <fa-icon class="fas fa-2x fa-heartbeat btn2 active" (click)="goNutrs()" [icon]="['fas', 'heartbeat']" style="margin-left: 5%" aria-pressed="true"></fa-icon>
        </button>
      </div>
      <div class="subcol">
        <button *ngIf="!isAdmine" class="orangebtn">
          <fa-icon class="fas fa-3x fa-plus btn2 active" [icon]="['fas', 'plus']" style="color: white;margin-left: 5%"  aria-pressed="true"></fa-icon>
        </button>
        <button *ngIf="isAdmine" class="orangebtn" (click)="goEdit()">
          <fa-icon class="fas fa-3x fa-pencil-alt btn2 active" [icon]="['fas', 'pencil-alt']" style="color: white;margin-left: 5%"  aria-pressed="true"></fa-icon>
        </button>
        <button *ngIf="!isAdmine" class="orangebtn graybtn" (click)="goTray()">
          <fa-icon class="fas fa-2x fa-shopping-cart btn2 active" [icon]="['fas', 'shopping-cart']" style="margin-left: 5%" aria-pressed="true"></fa-icon>
        </button>
        <button *ngIf="isAdmine && !isEdit" class="orangebtn graybtn" (click)="delete(data)">
          <fa-icon class="fas fa-2x fa-trash btn2 active" [icon]="['fas', 'trash']" style="margin-left: 5%" aria-pressed="true"></fa-icon>
        </button>
        <button class="edit" *ngIf="isAdmine && isEdit" (click)="undo()">
          <fa-icon class="fas fa-undo fa-2x" [icon]="['fas', 'undo']"  aria-pressed="true"></fa-icon>
        </button>
        <button class="edit" *ngIf="isEdit" (click)="onSubmit(itemForm)" [disabled]="ingNewName.length">
          <fa-icon class="fas fa-check fa-2x" [icon]="['fas', 'check']"  aria-pressed="true"></fa-icon>
        </button>
      </div>
    </div>
  </div>
  <div *ngIf="ings" class="ingredients-wrap">
    <fa-icon class="fas fa-3x fa-chevron-left active goback" [icon]="['fas', 'chevron-left']" (click)="goIngs()"></fa-icon>
    <div class="ingredient around" *ngIf="isEdit" >
      <span class="edit addIngBut" (click)="showAddEngWindow()">+ {{'addinging.add' | translate}}</span>
    </div>
    <div  class="ingredient newIng left-5 width-90" *ngIf="isEdit && addEngWindow">
      <div class="ing-spot splash"[ngStyle]="{'background-image': 'url('+visualIng.url+')'}">
        <input class="hover-text no-width hidden" id="chooseFile4" type='file' (change)="onSelectFile($event, selectedFileIng, visualIng)">
        <label for="chooseFile4" > <fa-icon class="add-ing-img flex" size="2x" [icon]="['fas', 'images']"></fa-icon></label>
      </div>

      <label>
        <textarea class="textIng" maxlength="10" type="text" [(ngModel)]="ingNewName" [ngModelOptions]="{standalone: true}" required rows="1" cols="1"></textarea>
      </label>
      <fa-icon (click)="addNewIng()" class="fas fa-check edit addAllIng" [icon]="['fas', 'check']"  aria-pressed="true"></fa-icon>
      <fa-icon (click)="remNewIng()"*ngIf="isEdit && x" class="fas fa-times edit undoIng" [icon]="['fas', 'times']"  aria-pressed="true"></fa-icon>

    </div>

    <div class="ingredient" *ngFor="let i of ingredients">
      <div class="ing-spot splash" [ngStyle]="{'background-image': 'url('+i.ingClass+')'}"></div>
      <span class="ing-name">{{i.ing}}</span>
      <fa-icon (click)="remIng(i)" *ngIf="isEdit && i.ing.length" class="fas fa-times edit remIng" [icon]="['fas', 'times']"  aria-pressed="true"></fa-icon>

    </div>
  </div>
  <div *ngIf="nutrs && !isEdit" class="nurts-wrap">
    <fa-icon class="fas fa-3x fa-chevron-left active goback" [icon]="['fas', 'chevron-left']" (click)="goNutrs()"></fa-icon>
    <div class="nutr" [ngStyle]="{'background-image': 'url('+nutrValue.url+')'}"></div>
  </div>
  <div class="nutr chooseNutr all-width all-height" [ngStyle]="{'background-image': 'url('+nutrValue.url+')'}" *ngIf="nutrs && isEdit">
    <input accept=".png,.jpg,.jpeg" *ngIf="isEdit"class="hover-text hidden" id="chooseFile5" type='file' (change)="onSelectFile($event, selectedFileNutr, nutrValue)">
    <label *ngIf="isEdit" for="chooseFile5" class="hover-text left-0 filtered"> <fa-icon size="4x" [icon]="['fas', 'images']"></fa-icon></label>
  </div>
</div>
