<div class="main">
  <div class="order">
    <span class="title">Your order is confirmed!</span>
    <span class="title" style="border: dotted">Order number: {{data.id}}</span>
    <div class="details">
      <div class="detail">
        <label for="user">Your name:</label>
        <output id="user">{{userName}}</output>
      </div>
      <div class="detail">
        <label for="branch">Branch:</label>
        <output id="branch">{{address}}</output>
      </div>
      <div class="detail">
        <label for="date">Date:</label>
        <output id="date">{{data.date | date:"dd MMM yyyy, h:mm a"}}</output>
      </div>
      <div class="detail itemlist">
        <label for="ord">Items:</label>
        <div *ngFor="let d of data.ordered" id="ord" class="detail">
          <div>{{d.title}}</div>
          <div>{{d.sold}}</div>

        </div>
      </div>
      <div class="detail">
        <label for="total">Total:</label>
        <output id="total">{{total}} ₪</output>
      </div>


    </div>
  </div>
  <div class="img">
    <fa-icon (click)="close()" class="fas fa-times fa-2x close" [icon]="['fas', 'times']"  aria-pressed="true" id="close"></fa-icon>

  </div>
  <ng-lottie [options]="options" (animationCreated)="animationCreated($event)"></ng-lottie>
</div>

