<div class="main">
  <div class="order">
    <span class="title">{{'orderconfirm' | translate}}</span>
    <span class="title" style="border: dotted">{{'ordnumb' | translate}}: {{data.id}}</span>
    <div class="details">
      <div class="detail">
        <label for="user">{{'signup.name' | translate}}:</label>
        <output id="user">{{userName}}</output>
      </div>
      <div class="detail">
        <label for="branch">{{'branch' | translate}}:</label>
        <output id="branch">{{address}}</output>
      </div>
      <div class="detail">
        <label for="date">{{'date' | translate}}:</label>
        <output id="date">{{data.date | date:"dd MMM yyyy, h:mm a"}}</output>
      </div>
      <div class="detail itemlist">
        <label for="ord">{{'items' | translate}}:</label>
        <div *ngFor="let d of data.ordered" id="ord" class="detail">
          <div>{{d.title}}</div>
          <div>{{d.sold}}</div>

        </div>
      </div>
      <div class="detail">
        <label for="total">{{'total' | translate}}:</label>
        <output id="total">{{total}} ₪</output>
      </div>


    </div>
  </div>
  <div class="img">
    <fa-icon (click)="close()" class="fas fa-times fa-2x close" [icon]="['fas', 'times']"  aria-pressed="true" id="close"></fa-icon>

  </div>
  <ng-lottie [options]="options"></ng-lottie>
</div>

