.main {
  width: 100%;
  background:transparent url('../../assets/wooden.jpg') 0% 0% no-repeat padding-box;
  height: 100vh;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.logo {
  position: relative;
  background:transparent url('../../assets/logo.png') 0% 0% no-repeat padding-box;
  background-size: contain;
  height: 13vh;
  width: 9vw;
  top: 2vh;
  bottom: 2vh;
  margin: auto;
}
.outlet {
  max-height: 65vh;
  overflow: scroll;
}
.navigation-box {
  border: solid purple;
  width: 50vw;
  height: 13vh;
  margin: auto;
  margin-top: 2vh;
}
