@font-face {
  font-family: Cookie;
  src: url('../../assets/fonts/Cookie-Regular.ttf') format("opentype");
}
@font-face {
  font-family: JosefinSans Regular;
  src: url('../../assets/fonts/JosefinSans-Regular.ttf') format("opentype");
}
.main{
  /*height: 150vh;*/
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  user-select: none;
}
.header{
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  height: 25vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.go{
  color: white;
  filter: drop-shadow(2px 4px 6px black);
  opacity: .5;
  transition: all 0.5s ease-in-out ;
}
.go:hover{
  transition: all 0.5s ease-in-out ;
  transform: scale(1.2);
}
.go:active{
  transition: all 0.5s ease-in-out ;
  transform: scale(1.4);
}

.coffee{
  width: 21%;
  height: 90%;
}
.our-comminment {
  font: 10vmax Cookie;
  line-height: 1;
  display: flex;
  text-align: center;
  color: #1F1010;
  opacity: 0.4;
  text-shadow: 0 0 5px rgba(0,0,0,1);
  justify-content: center;
}
.com-text {
  font: .8vw JosefinSans Regular;
  display: flex;
  position: relative;
  bottom: 38%;
  text-align: center;
  width: 81%;
  margin: auto;
}
.cards{
  width: 80%;
  display: flex;
  flex-wrap: wrap;
  margin-top: 3%;
}
.promocard {
  background-color: white;
  width: 10vw;
  height: 33vh;
  box-shadow: 14px 2px 3px 5px rgba(0,0,0,0.25);
  position: relative;
  display: flex;
  align-items: center;
  flex: 0 0 21%;
  border: solid rgba(0,0,0,0.25) 0.01px;
  transition: all 0.5s ease-in-out ;
  margin-right: 2%;
  margin-left: 2%;
  margin-bottom: 4%;
}
.promocard:hover{
  transform: scale(1.2);
  transition: all 0.5s ease-in-out ;
}
hr {
  height: 2px;
  background: #AB9690;
  width: 100%;
}
.hr-wrap-top {
  display: flex;
  align-items: center;
  width: 38%;
}
.cardhead {
  top: 2%;
  left: 42%;
}
.card-content {
  width: 85%;
  height: 100%;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.card-header {
  height: 15%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logo-m {
  width: 8vw;
  height: 8vh;
  position: relative;
  background:transparent url('../../assets/logo.png') 0% 0% no-repeat padding-box;
  background-size: contain;
}
.heder-logo {
  height: 70%;
  width: 14%;
}
.card-body {
  height: 70%;

}
.card-footer {
  height: 15%;
  display: flex;
  flex-direction: column;

}
.ingredients {
  height: 70%;
  width: 40%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.ingredient {
  display: flex;
  justify-content: space-between;
  height: 17%;
}
.ing-spot {
  width: 50%;
}
.splash {
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}
.side-splash {
  height: 80%;
  width: 10%;
}
.ing-name {
  width: 60%;
  display: flex;
  align-items: center;
  font-family: JosefinSans Regular;
  z-index: 100;
  line-height: .8;
  -webkit-text-stroke: .1px white;
}
.cup {
  width: 42%;
  height: 81%;
  position: relative;
  left: 20%;
  top: -52%;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}
.price {
  width: 47%;
  height: 45%;
  position: relative;
  top: -160%;
  left: 52%;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}
.numb {
  width: 75%;
  height: 100%;
  color: #E04523;
  display: flex;
  justify-content: center;
  font: 5vw JosefinSans Regular;
  position: relative;
  top: 24%;
  margin-left: 14%;

}
.only-shek {
  width: 25%;
  height: 59%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.only {
  width: 100%;
  height: 30%;
  font: 1vw JosefinSans Regular;
  display: flex;
  justify-content: center;
}
.shek {
  width: 100%;
  height: 70%;
  background:transparent url('../../assets/shekel.png') 0% 0% no-repeat padding-box;
  background-size: contain;
  background-position: center;
  margin-top: 1vh;
}
.description {
  width: 42%;
  height: 60%;
  position: relative;
  top: -156%;
  left: 57%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-left: 5%;
}
.item-title {
  font: 1.4vw JosefinSans Regular;
  display: flex;
  overflow-wrap: anywhere;
}

.item-desc {
  width: 100%;
  height: 70%;
  font-family: JosefinSans Regular;
}
.scroll-to-top {
  position: fixed;
  bottom: 7vh;
  opacity: 0;
  transition: all .2s ease-in-out;
}
.show-scrollTop {
  opacity: 0.8;
  transition: all .2s ease-in-out;

}

.fa-chevron-up {
  margin: auto;
  color: white;
  opacity: 0.8;
  bottom: 11vh;
  position: relative;
  left: 2vw;
}
.btn2 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 42%;

}
.addcup {
  background-image: url('../../assets/graycup.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  color: darkgray;
  font: 1.5vw JosefinSans Regular;
}
.addcup:active {
  transform: scale(1.1);
  transition: ease-in-out 1s;
}
@media only screen and (max-width: 1500px) {
  .item-desc{
    line-height: .9;
  }
  .ingredient{
    height: auto;
  }
}
@media only screen and (max-width: 1024px) {
  .com-text, .header-right, .header-left, .ingredients, .item-desc, .only{
    display: none;
  }
  .coffee, .main{
    height: auto;
    width: auto;
  }
  .promocard{
    width: 60vw;
    height: 30vh;
    flex: auto;
    margin-left: auto;
    margin-right: auto;

  }
  .cards{
    width: 90%;
    flex-direction: column;
  }
  .cup{
    left: 5%;
    top: 5%;
  }
  .item-title{
    font-size: 6vmin;
  }
  .numb{
    font-size: 14vmin;
  }
  .price{
    top: -80%;
  }
  .description{
    top: -75%;
  }
}
@media only screen and (max-width: 1024px) and (orientation: landscape) {
  .cards{
    flex-direction: row;
  }
  .promocard{
    flex: 0 0 21%;
    margin-left: 2%;
    margin-right: 2%;
  }
  .item-title{
    font-size: 4vmin;
    margin-top: 3%;
    width: 150%;
  }
  .numb{
    font-size: 10vmin;
  }
  .description{
    left: 40%;
  }
}
