<app-frame>
  <div class="main">
    <div class="wrapper">
      <div class="category-card">
        <div class="card-content">
          <div class="card-header">
            <div class="hr-wrap-top"><hr></div>
            <div class="logo-m heder-logo"></div>
            <div class="hr-wrap-top"><hr></div>
          </div>
          <div class="card-body">
            <div class="contacts">
              <div class="contact">
                <div class="contact-icon instagram"></div>
                <div class="contact-text">@coffee_breaker</div>
              </div>
              <div class="contact">
                <div class="contact-icon facebook" ></div>
                <div class="contact-text">coffee_breaker.com</div>
              </div>
              <div class="contact">
                <div class="contact-icon email"></div>
                <div class="contact-text">coffee_breaker@gmail.com</div>
              </div>
              <div class="contact">
                <div class="contact-icon phone"></div>
                <div class="contact-text">052-556-667</div>
              </div>
              <div class="contact">
                <div class="contact-icon phone"></div>
                <div class="contact-text">052-556-688</div>
              </div>
              <div class="contact">
                <div class="contact-icon phone"></div>
                <div class="contact-text">052-556-629</div>
              </div>
              <div class="contact">
                <div class="contact-icon address"></div>
                <div class="contact-text">Tel Aviv, st. Ben Gurion, 9</div>
              </div>
            </div>

          </div>
          <div class="card-footer">
            <hr>
          </div>
        </div>
      </div>
      <div class="some-contacts-text-wrap">
        <span class="our-contacts">Our contacts</span>
        <span class="sometext">  Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
          incididunt ut labore et dolore magna aliqua. Ut enim  laboris nisi ut aliquip ex ea
          commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum
          dolore eu fugiat nulla pariatur. </span>
      </div>
    </div>
  </div>
</app-frame>

