.carousel{
  height: 65vh;
  left: -5vw;
  bottom: 20vh;
  overflow: initial;
  user-select: none;
}
.category-card {
  background-color: white;
  width: 24vw;
  height: 41vh;
  box-shadow: var(--shadow);
  position: relative;
  display: flex;
  align-items: center;
  border: var(--border);

}
.card-content {
  width: 85%;
  height: 100%;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.card-header {
  height: 15%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.hr-wrap-top {
  display: flex;
  align-items: center;
  width: 38%;
}
.logo-m {
  width: 8vw;
  height: 8vh;
  position: relative;
  background:transparent url('../../assets/logo.png') 0% 0% no-repeat padding-box;
  background-size: contain;
}
.heder-logo {
  height: 70%;
  width: 14%;
}
.hr-wrap-top {
  display: flex;
  align-items: center;
  width: 38%;
}
hr {
  height: 2px;
  background: var(--cappuccino);;
  width: 100%;
}
.card-body {
  height: 80%;
}
.ingredients {
  height: 70%;
  width: 33%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.ingredient {
  display: flex;
  justify-content: space-between;
  height: 17%;
}

.ing-spot {
  width: 32%;
  height: 100%;
  z-index: 100;
  background-size: contain;
}
.ing-name {
  width: 60%;
  display: flex;
  align-items: center;
  font-family: JosefinSans Regular, Arial Narrow, Avtala;
  z-index: 100;
  color: black;
  line-height: 0.8;
}

.price {
  width: 54%;
  height: 45%;
  position: relative;
  top: -73%;
  left: 47%;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}
.numb {
  width: 75%;
  height: 100%;
  color: var(--orange);
  display: flex;
  justify-content: center;
  font: 9vw JosefinSans Regular, Arial Narrow, Avtala;
  position: relative;

}
.only-shek {
  width: 25%;
  height: 59%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.only {
  width: 100%;
  height: 30%;
  font: 1.1vw JosefinSans Regular, Arial Narrow, Avtala;
  display: flex;
  justify-content: center;
  color: black;
}
.description {
  width: 51%;
  height: 45%;
  position: relative;
  top: -55%;
  left: 48%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: black;
}
.item-title {
  font: 1.5vw JosefinSans Regular, Arial Narrow, Avtala;
  color: black;
  word-wrap: break-word;
  line-height: 70%;
}
.card-footer {
  height: 15%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
@media only screen and (max-width: 1500px){
  .carousel {
    bottom: 14vh;
    left: -4vw;
  }
}
@media only screen and (max-width: 1024px){
  .carousel {
    width: 90%;
    bottom: 29vh;
  }
  .swipe {
    font: 5vw JosefinSans Regular, Arial Narrow, Avtala;
  }
  .category-card {
    width: 35vmax;
    height: 40vmax;
    margin: auto;
    top: 10vmax;
  }
  .price {
    height: 33%;
    top: -66%;
    width: 51%;
    left: 51%;
  }
  .numb {
    font-size: 14vmax;
  }
  .only {
    font-size: 1.7vmax;
  }
  .item-title {
    font-size: 3vmax;
    margin-left: 2vw;
  }
  .cup {
    height: 55%;
  }
  .item-desc{
    padding-left: 8%;
  }
}
@media only screen and (max-width: 1024px) and (orientation: landscape){
  .carousel {
    bottom: 7vh;
    left: 5vw;
  }
  .category-card {
    top: 3vh;
    width: 22vmax;
    height: 27vmax;
  }
  .numb {
    font-size: 7vmax;
  }
  .price {
    height: 27%;
  }
  .item-title {
    font-size: 2vmax;
    margin-left: 2vw;
  }
  .item-desc{
    display: none;
  }
  .news{
    height: 50%;
  }
}
