
  <div class="carousel" id="carusel111">
    <a class="carousel-item" *ngFor="let item of promoItems; let i = index">
      <div class="category-card" (click)="goToItem(item)">
        <div class="card-content">
          <div class="card-header">
            <div class="hr-wrap-top"><hr></div>
            <div class="logo-m heder-logo"></div>
            <div class="hr-wrap-top"><hr></div>
          </div>
          <div class="card-body">
            <div class="ingredients">
              <div class="ingredient" *ngFor="let ing of promoItems[i].ingredients">
                <div class="ing-spot {{ing.ingClass}}"></div>
                <span class="ing-name">{{ing.ing}}</span>
              </div>
            </div>
            <div class="cup" [ngStyle]="{'background-image': 'url('+item.img+')', 'background-size': 'contain'}"></div>
            <div class="price">
              <span class="numb">{{item.price}}</span>
              <div class="only-shek">
                <span class="only">only</span>
                <div class="shek"></div>
              </div>
            </div>
            <div class="description">
              <span class="item-title">{{item.title}}</span>
              <span class="item-desc">{{(item.desc | slice:0:55)+'..'}}</span>
            </div>
          </div>
          <div class="card-footer">
            <hr>
          </div>
        </div>
      </div>
    </a>
  </div>
  <div class="no-body no-cup no-new" *ngIf="!promoItems.length">
    <div class="no-body no-main-text">Sorry! Seems like no connection to server.</div>
    <div class="no-body no-sub-text">Please, try again latter..</div>
  </div>
