@font-face {
  font-family: JosefinSans Regular;
  src: url('../../assets/fonts/JosefinSans-Regular.ttf') format("opentype");
}
@font-face {
  font-family: Arial Narrow;
  src: url('../../assets/fonts/Arial-Narrow.ttf') format("opentype");
}
@font-face {
  font-family: Avtala;
  src: url('../../assets/fonts/AvtalaCondensedMF.ttf') format("opentype");
}
.navbar {
  width: 100%;
  height: 70%;
  display: flex;
  list-style: none;
  justify-content: flex-end;
  align-items: flex-end;
}
.navbar-collapse{
  display: none;
}
.li {
  display: flex;
  width: 15%;
  justify-content: space-between;
  flex-direction: column;
  height: 100%;
}
.li-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  font: 3vw JosefinSans Regular, Arial Narrow, Avtala;
  transition: all 0.5s ease-in-out ;
}
.li-icon:hover{
  transform:scale(1.2);
  transition: all 0.5s ease-in-out ;
}
.li-icon:active{
  outline: none;
}

.li-href {
  display: flex;
  height: 30%;
  justify-content: center;
  align-items: center;
}
mat-divider {
  margin: 0;
  border-top-width: 4px;
  border-top-style: solid;
  border-color: #18120D;
  width: 100%;
}
.active-tab > .li-href > mat-divider{
  border-color: #E04523;
}
.active-tab > .li-icon{
  color: #E04523;
}
.tab {
  justify-content: center;
  display: flex;
  height: 5vh;
  transform: scale(.8);
}
.help {
  font: 2vw JosefinSans Regular, Arial Narrow, Avtala;
  justify-content: center;
  display: flex;
  align-items: flex-end;
}
@media only screen and (max-width: 1024px) {
  .navbar{
    display: none;
  }
  .navbar-collapse{
    display: flex;
    justify-content: space-between;
  }
  .navbar-collapse > .li-icon{
    font-size: 5vmax;
  }
  .lang2{
    border: solid;
  }
  .drop-li{
    font-size: 3vmax;
  }
}
