<app-frame>
  <div class="main">
      <div class="table">
        <span class="table-title">Sold for today</span>
        <hr>
        <p *ngIf="!soldItems.length" class="template">No sold items for today yet..</p>

        <div class="titles" *ngIf="soldItems.length">
          <span>item</span>
          <span>price for 1</span>
          <span>sold pieces</span>
          <span>total for item</span>
        </div>
        <hr>
        <div class="items" *ngIf="soldItems.length">
          <div *ngFor="let i of soldItems">
            <div class="table-raw">
              <div class="img-title" (click)="goToItem(i)">
                <div class="img" [ngStyle]="{'background-image': 'url('+i.img+')'}"></div>
                <span>{{(i.title.length > this.titleWidthPermition) ? (i.title | slice:0:this.titleWidthPermition)+'..': i.title}}</span>
              </div>
              <div class="price">{{i.price}}₪</div>
              <div class="sold">{{i.sold}}</div>
              <div class="totalItem">{{i.price * i.sold}}₪</div>
            </div>
            <hr class="hr-thin">
          </div>

      </div>

    </div>
    <div class="summ">
      <div class="stat-title">
        <span class="stat">Statistic</span>
        <span class="stat-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, uis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</span>
      </div>
      <div class="summary" *ngIf="soldItems.length">
        <div class="sum-row one">
          <span>Total for today:</span>
          <span>{{this.totalPerday}}₪</span>
        </div>
        <div class="sum-row two">
          <span>Most popular today:</span>
          <div class="wrap" (click)="goToItem(this.itemPop)">
            <div class="mostPop" [ngStyle]="{'background-image': 'url('+this.itemPop.img+')'}"></div>
            <span>{{(this.itemPop.title.length > this.titleWidthPermition) ? (this.itemPop.title | slice:0:this.titleWidthPermition)+'..': this.itemPop.title}}</span>
          </div>

        </div>
        <div class="sum-row three">
          <span>Most profitable today:</span>
          <div class="wrap" (click)="goToItem(this.itemProf)">
            <div class="mostPop" [ngStyle]="{'background-image': 'url('+this.itemProf.img+')'}"></div>
            <span>{{(this.itemProf.title.length > this.titleWidthPermition) ? (this.itemProf.title | slice:0:this.titleWidthPermition)+'..': this.itemProf.title}}</span>
          </div>

        </div>
      </div>
    </div>
  </div>
</app-frame>
