<app-frame>
  <div class="main">
      <div class="table">
        <span class="table-title">{{'statistic.soldfortoday' | translate}}</span>
        <hr>
        <p *ngIf="!soldItems.length" class="template">{{'statistic.noitems' | translate}}</p>

        <div class="titles" *ngIf="soldItems.length">
          <span>{{'statistic.item' | translate}}</span>
          <span>{{'statistic.price' | translate}}</span>
          <span>{{'statistic.sold' | translate}}</span>
          <span>{{'statistic.totalitem' | translate}}</span>
        </div>
        <hr>
        <div class="items" *ngIf="soldItems.length">
          <div *ngFor="let i of sortedItems | keyvalue: sortingPerTotal">
            <div class="table-raw">
              <div class="img-title" (click)="goToItem(i)">
                <div class="img" [ngStyle]="{'background-image': 'url('+i.value.img+')'}"></div>
                <span>{{(i.value.title.length > this.titleWidthPermition) ? (i.value.title | slice:0:this.titleWidthPermition)+'..': i.value.title}}</span>
              </div>
              <div class="price">{{i.value.price}}₪</div>
              <div class="sold">{{i.value.sold}}</div>
              <div class="totalItem">{{i.value.price * i.value.sold}}₪</div>
            </div>
            <hr class="hr-thin">
          </div>

      </div>

    </div>
    <div class="summ">
      <div class="stat-title">
        <span class="stat">{{'statistic.title' | translate}}</span>
        <span class="stat-text">{{'statistic.desc' | translate}}</span>
      </div>
      <div class="summary" *ngIf="soldItems.length">
        <div class="sum-row one">
          <span>{{'statistic.totaltoday' | translate}}:</span>
          <span>{{totalPerday}}₪</span>
        </div>
        <div class="sum-row two">
          <span>{{'statistic.popular' | translate}}:</span>
          <div class="wrap" (click)="goToItem(this.itemPop)">
            <div class="mostPop" [ngStyle]="{'background-image': 'url('+this.itemPop.img+')'}"></div>
            <span>{{(this.itemPop.title.length > this.titleWidthPermition) ? (this.itemPop.title | slice:0:this.titleWidthPermition)+'..': this.itemPop.title}}</span>
          </div>

        </div>
        <div class="sum-row three">
          <span>{{'statistic.mostprofit' | translate}}:</span>
          <div class="wrap" (click)="goToItem(this.itemProf)">
            <div class="mostPop" [ngStyle]="{'background-image': 'url('+this.itemProf.img+')'}"></div>
            <span>{{(this.itemProf.title.length > this.titleWidthPermition) ? (this.itemProf.title | slice:0:this.titleWidthPermition)+'..': this.itemProf.title}}</span>
          </div>

        </div>
      </div>
    </div>
  </div>
</app-frame>
