<button class="exit" type="submit" (click)="exit()">x</button>
<div class="category-card">
  <div class="card-content">
    <div class="card-header">
      <div class="hr-wrap-top"><hr></div>
      <div class="com-logo">Language</div>
      <div class="hr-wrap-top"><hr></div>
    </div>
    <div class="card-body">
      <div class="eng langicon"><span>English</span></div>
      <div class="heb langicon"><span>Hebrew</span></div>
      <div class="bel langicon"><span>Belarusian</span></div>
    </div>
    <div class="card-footer">
      <hr>
    </div>
  </div>

</div>
