body {
  user-select: none;
}
.hr-wrap-top {
  display: flex;
  align-items: center;
  width: 30%;
}

.com-logo {
  font: 2.2vmax Cookie, Annabelle, Adama;
  width: 30%;
  text-align: center;
}
.card-body {
  height: 80%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.exit {
  position: absolute;
  width: 1vw;
  height: 1vh;
  padding: .6%;
  z-index: 10;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: .4%;
  margin-left: 28.5%;
  border: 0;
  font-size: 1vw;
  opacity: 0.5;
  user-select: none;
}
.exit:active {
  background-color: var(--orange);
}
.langicon {
  width: 30%;
  height: 70%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all .5s ease-out;
}
.langicon:hover {
  transform: scale(1.2);
  transition: all .5s ease-out;
}
.langicon:active {
  transform: scale(1.4);
  transition: all .5s ease-out;
}
.langicon > span {
  font: 1.5vmax JosefinSans Regular, Arial Narrow, Avtala, Arial Narrow;
  color: white;
  background-color: rgba(0, 0, 0, 0.4);
  padding: 1vmin;
}
.eng {
  background: transparent url('../../assets/english.png') no-repeat center;
  background-size: contain;
}
.heb {
  background: transparent url('../../assets/hebrew.png') no-repeat center;
  background-size: contain;
}
.bel {
  background: transparent url('../../assets/belarusian.png') no-repeat center;
  background-size: contain;
}
@media only screen and (max-width: 1024px){
  .exit {
    display: none;
  }
}
