.main {
  height: 65vh;
  background-color: white;
  display: flex;
  flex-direction: column;
  user-select: none;
}
.swipe {
  font: 1vw JosefinSans Regular, Arial Narrow, Avtala;
  color: #ECE6E5;
  margin: auto;
  position: relative;
  top: 5%;
}
.carousel{
  height: 65vh;
  bottom: 12vh;
  left: -7vw;
  overflow: initial;
}
.category-card {
  background-color: white;
  width: 25vw;
  height: 45vh;
  box-shadow: var(--shadow);
  position: relative;
  display: flex;
  align-items: center;
  border: var(--border);

}
.heder-logo {
  height: 70%;
  width: 14%;
}

.card-body {
  height: 80%;
}
.ingredients {
  height: 70%;
  width: 33%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.ing-spot {
  width: 32%;
  height: 100%;
  position: absolute;
  bottom: 25%;
  right: 66%;
  z-index: 10000;
  background-size: contain;
}

.cup {
  width: 50%;
  height: 60%;
  position: absolute;
  left: 8%;
  top: 31%;
  z-index: 0;
  background-size: contain;
}

.price {
  width: 54%;
  height: 45%;
  position: relative;
  top: -73%;
  left: 47%;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}
.numb {
  width: 75%;
  height: 100%;
  color: var(--orange);
  display: flex;
  justify-content: center;
  font: 9vw JosefinSans Regular, Arial Narrow, Avtala, Arial Narrow;
  position: relative;

}

.only {
  width: 100%;
  height: 30%;
  font: 1.1vw JosefinSans Regular, Arial Narrow, Avtala, Arial Narrow;
  display: flex;
  justify-content: center;
  color: black;
}

.description {
  width: 51%;
  height: 45%;
  position: relative;
  top: -55%;
  left: 48%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.item-title {
  font: 5vw Cookie, Annabelle, Adama;
  color: var(--darkchocolate);
  word-wrap: break-word;
  line-height: 70%;
  text-shadow: 2px 2px 4px black;
}

.admin > .delete-btn {
  display: none;
}
.admin > .delete-btn > span {
  display: none;
}
.admin > .card-content:hover{
  opacity: .5;
}
.admin:hover > .delete-btn {
  width: 10vw;
  height: 5vh;
  left: 7vw;
  background-color: rgba(0, 0, 0, 0.4);
  border-radius: 10px;
  z-index: 10;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  transition: all 0.5s ease-in-out ;
}
.admin:hover > .delete-btn:hover, .plus:hover {
  transition: all 0.5s ease-in-out ;
  transform: scale(1.2);
}
.admin:hover > .delete-btn:active, .plus:active {
  transition: all 0.5s ease-in-out ;
  transform: scale(1.5);
}
.admin:hover > .delete-btn > span {
  font: 2vmax JosefinSans Regular, Arial Narrow, Avtala, Arial Narrow;
  color: var(--orange);
  display: flex;

}
.plus{
  stroke: black;
  stroke-opacity: .2;
  stroke-width: 3%;
  color: white;
  transition: all 0.5s ease-in-out ;
}
.plus-wrap{
  display: flex;
  justify-content: center;
  align-items: center;
}
@media only screen and (max-width: 1024px){
  .carousel {
    width: 90%;
    bottom: 20vh;
    left: -12vw;
  }
  .swipe {
    font: 5vw JosefinSans Regular, Arial Narrow, Avtala, Arial Narrow;
  }
  .category-card {
    width: 40vmax;
    height: 45vmax;
    margin: auto;
    top: 10vmax;
  }
  .price {
    height: 33%;
    top: -66%;
    width: 51%;
    left: 51%;
  }
  .numb {
    font-size: 14vmax;
  }
  .only {
    font-size: 1.7vmax;
  }
  .item-title {
    font-size: 7vmax;
    margin-left: 2vw;
  }
  .cup {
    height: 55%;
  }
}
@media only screen and (max-width: 1024px) and (orientation: landscape){
  .carousel {
    bottom: 7vh;
    left: 5vw;
  }
  .swipe {
    font: 3vw JosefinSans Regular, Arial Narrow, Avtala, Arial Narrow;
    z-index: 100;
    top: 0;
  }
  .main {
    height: 65vh;
  }
  .category-card {
    top: 3vh;
    width: 22vmax;
    height: 27vmax;
  }
  .numb {
    font-size: 7vmax;
  }
  .price {
    height: 27%;
  }
  .item-title {
    font-size: 5vmax;
    margin-left: 0.5vw;
  }
}
