@font-face {
  font-family: JosefinSans Regular;
  src: url('../../assets/fonts/JosefinSans-Regular.ttf') format("opentype");
}
@font-face {
  font-family: Arial Narrow;
  src: url('../../assets/fonts/Arial-Narrow.ttf') format("opentype");
}
@font-face {
  font-family: Avtala;
  src: url('../../assets/fonts/AvtalaCondensedMF.ttf') format("opentype"),
  url('../../assets/fonts/AvtalaCondensedMF.eot') format("eot"),
  url('../../assets/fonts/AvtalaCondensedMF.otf') format("otf"),
  url('../../assets/fonts/AvtalaCondensedMF.svg') format("svg"),
  url('../../assets/fonts/AvtalaCondensedMF.woff') format("woff");
}
.category-card {
  background-color: white;
  width: 100%;
  height: 100%;
  box-shadow: 14px 2px 3px 5px rgba(0,0,0,0.25);
  position: relative;
  display: flex;
  align-items: center;
  border: solid rgba(0,0,0,0.25) 0.01px;

}
.card-content {
  width: 85%;
  height: 100%;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.card-header {
  height: 15%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.hr-wrap-top {
  display: flex;
  align-items: center;
  width: 38%;
}
.logo-m {
  width: 8vw;
  height: 8vh;
  position: relative;
  background:transparent url('../../assets/logo.png') 0% 0% no-repeat padding-box;
  background-size: contain;
}
.heder-logo {
  height: 90%;
  width: 10%;
}
hr {
  height: 2px;
  background: #AB9690;
  width: 100%;
}
.card-body {
  height: 80%;
  display: flex;
  justify-content: space-between;
}
.card-footer {
  height: 15%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.contact-icon {
  transform: scale(0.6);
}
.pointer {
  background:transparent url('../../assets/point.png') 0% 0% no-repeat padding-box;
  background-size: contain;
  background-position: center;
  width: 3vw;
  height: 5vh;
  transform: scale(1);
}
.address {
  display: flex;
  align-items: center;
}
.popular {
  font: 1vw JosefinSans Regular, Arial Narrow, Avtala;
  padding: 1%;
  margin: 2%;
  color: #E04523;
  border: solid 2px #E04523;
}
.rempop {
  font: 1vw JosefinSans Regular, Arial Narrow, Avtala;
  padding: 1%;
  margin: 2%;
  color: #E04523;
  border: dotted 2px #E04523;
  width: 50%;
  z-index: 100;
  background: none;
}
.rempop:active {
  transform: scale(1.1);
  background: none;
}
.about {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 45%;
}
.photo {
  background-position: center;
  height: 100%;
  width: 50%;
}
.hover-text {
  visibility: hidden;
}
.photo:hover > .hover-text {
  visibility: visible;
  position: relative;
  top: 40%;
  left:  40%;
  z-index: 2;
  color: white;

}
.adr {
  font: 1.5vw JosefinSans Regular, Arial Narrow, Avtala;
}
.description {
  font: 1vw JosefinSans Regular, Arial Narrow, Avtala;
  text-indent: 4%;
}
.splashes {
  display: flex;
  justify-content: space-between;
  height: 30%;
  opacity: 0.5;
}
.spl-milk {
  background:transparent url('../../assets/milk-splash.png') 0% 0% no-repeat padding-box;
  background-size: contain;
  background-position: center;
  width: 30%;
  transform: scale(1.8);
}
.spl-cof {
  background:transparent url('../../assets/coffee-beans.png') 0% 0% no-repeat padding-box;
  background-size: contain;
  background-position: center;
  width: 30%;
  transform: scale(1.8);
}
.spl-tes {
  background:transparent url('../../assets/tea-leafes.png') 0% 0% no-repeat padding-box;
  background-size: contain;
  background-position: center;
  width: 30%;
  transform: scale(1.8);
}
.buttons {
  display: flex;
  justify-content: space-between;
  margin-bottom: 5%;
}
.edit {
  opacity: 0.5;
  border: none;
  background: white;
}
.edit:hover {
  opacity: 1;
}
.edit:active {
  transform: scale(1.1);
}
@media only screen and (max-width: 1024px) {
  .photo{
    background-size: cover;
  }
  .adr{
    font-size: 4vmin;
    display: flex;
    align-items: center;
  }
  .pointer{
    height: 10vmax;
    width: 10vmin;
  }
  .description {
    text-overflow: ellipsis;
    font-size: 3vmin;
    height: 20%;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
  }
}
