.hr-wrap-top {
  display: flex;
  align-items: center;
  width: 38%;
}
.heder-logo {
  height: 90%;
  width: 10%;
}
button{
  padding: .5%;
}
.card-body {
  height: 80%;
  display: flex;
  justify-content: space-between;
}
.contact-icon {
  transform: scale(0.6);
}
.pointer {
  background: transparent url('../../assets/point.png') no-repeat center;
  background-size: contain;
  width: 3vw;
  height: 5vh;
  transform: scale(1);
}
.branchAddress {
  display: flex;
  align-items: center;
}
.popular {
  font: var(--xs) JosefinSans Regular, Arial Narrow, Avtala;
  padding: 1%;
  margin: 2%;
  color: var(--orange);
  border: solid 2px var(--orange);
}
.rempop {
  font: var(--xs) JosefinSans Regular, Arial Narrow, Avtala;
  padding: 1%;
  margin: 2%;
  color: var(--orange);
  border: dotted 2px var(--orange);
  width: 50%;
  z-index: 100;
  background: none;
}
.rempop:active {
  transform: scale(1.1);
  background: none;
}
.about {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 45%;
}
.photo {
  background-position: center;
  height: 100%;
  width: 50%;
}
.hover-text {
  visibility: hidden;
}
.photo:hover > .hover-text {
  visibility: visible;
  position: relative;
  top: 40%;
  left:  40%;
  z-index: 2;
  color: white;

}
.adr {
  font: var(--xs) JosefinSans Regular, Arial Narrow, Avtala;
}
.description {
  font: var(--xs) JosefinSans Regular, Arial Narrow, Avtala;
  text-indent: 4%;
}
.splashes {
  display: flex;
  justify-content: space-between;
  height: 30%;
  opacity: 0.5;
}
.spl-milk {
  background: transparent url('../../assets/milk-splash.png') no-repeat center;
  background-size: contain;
  width: 30%;
  transform: scale(1.8);
}
.spl-cof {
  background: transparent url('../../assets/coffee-beans.png') no-repeat center;
  background-size: contain;
  width: 30%;
  transform: scale(1.8);
}
.spl-tes {
  background: transparent url('../../assets/tea-leafes.png') no-repeat center;
  background-size: contain;
  width: 30%;
  transform: scale(1.8);
}
.buttons {
  display: flex;
  justify-content: space-between;
  margin-bottom: 5%;
  flex-wrap: wrap;
}
.edit {
  opacity: 0.5;
  border: none;
  background: white;
}
.edit:hover {
  opacity: 1;
}
.edit:active {
  transform: scale(1.1);
}
@media only screen and (max-width: 1024px) {
  .photo{
    background-size: cover;
  }
  .adr{
    font-size: var(--m);
    display: flex;
    align-items: center;
  }
  .pointer{
    height: 10vmax;
    width: 10vmin;
  }
  .description {
    text-overflow: ellipsis;
    font-size: var(--s);
    height: 20%;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
  }
}
