<app-frame>
  <div class="main">
    <div class="left-side">
      <div class="desc">
        <span class="our-comminment"  *ngIf="!isAdmin">{{'myorders.title' | translate}}</span>
      </div>

    </div>
    <div class="right-side">
      <div class="category-card">
        <div class="card-title">
          <span>{{'myorders.id' | translate}}</span>
          <span>{{'myorders.products' | translate}}</span>
          <span>{{'myorders.date' | translate}}</span>
          <span>{{'myorders.branch' | translate}}</span>
          <span>{{'myorders.status' | translate}}</span>
        </div>
        <hr class="hr-85">
        <div class="card-content">
          <div *ngFor="let o of myOrders; let i= index">
            <div class ="order-raw">
              <span>{{o.id}}</span>
              <div class="titles-wrap">
                <div class="ttlwrp flex column around" *ngFor="let ord of o.ordered;let last = last" [ngClass]="{'last-child': last}">
                  <span class="flex">{{ord.title}}({{ord.sold}})</span>
                </div>

              </div>
              <span>{{o.date  | date:"dd MMM yyyy, h:mm a"}}</span>
              <span>{{branchesIdToAddressMap[o.branch]}}</span>
              <span class="h" *ngIf="o.status === 0">{{'myorders.confirmed' | translate}}</span>
              <span class="h" *ngIf="o.status === 1">{{'myorders.processing' | translate}}</span>
              <span class="h" *ngIf="o.status === 2">{{'myorders.ready' | translate}}</span>
            </div>
            <hr>
          </div>

        </div>
      </div>
    </div>

  </div>

</app-frame>
