.main {
  height: 65vh;
  background-color: white;
  background-size: cover;
  background-position: center;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.goback {
  color: white;
  filter: var(--drop-shadow);
  margin-left: 2%;
  position: absolute;
  left: 0;
  margin-bottom: 1%;
}
.desc{
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: auto;
}
.our-comminment {
  font: 10vmax Cookie, Annabelle, Adama;
display: flex;
  text-align: center;
  color: var(--darkchocolate);
  opacity: 0.4;
  text-shadow: var(--text-shadow);
  z-index: 0;
}
.com-text {
  font: 1vw JosefinSans Regular, Arial Narrow, Avtala;
  display: flex;
  position: absolute;
  bottom: 42%;
  width: 24%;
  text-align: center;
  text-indent: 8%;
  z-index: 10;

}
.left-side, .right-side {
  display: flex;
  width: 50%;
}
.category-card {
  background-color: white;
  width: 45vw;
  height: 45vh;
  box-shadow: var(--shadow);
  position: relative;
  display: flex;
  align-items: center;
  border: var(--border);
  flex-direction: column;

}
.card-content {
  width: 85%;
  height: 75%;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow-y: scroll;
  overflow-x: hidden;
}
.card-title {
  width: 85%;
  height: 5%;
  margin: auto;
  display: flex;
  justify-content: space-between;
}
.card-title > span, .order-raw > span {
  width: 20%;
  text-align: center;
}
hr {
  height: 2px;
  background: var(--cappuccino);;
  width: 100%;
}
.order-raw {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 15vh;
}
.h{
  background-color: #F89406;
}
.titles-wrap {
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
  height: 90%;
  width: 25%;
}
.ttlwrp {
  flex-direction: row;
  display: flex;
  border-bottom: 1px solid var(--cappuccino);

}
.last-child {
  border-bottom: none;
}
.hr-85{
  width: 85%;
}
@media only screen and (max-width: 1024px) {
  .main {
    flex-direction: column;
  }
  .our-comminment {
    font-size: 7vmax;
  }
  .com-text {
    display: none;
  }
  .category-card {
    width: 100%;
  }
  .right-side {
    width: 90%;
  }
  .left-side {
    width: 70%;
  }
  .desc {
    width: 100%;
  }
}
