<app-frame>
  <div class="main">
    <div class="desc">
      <span class="our-comminment"  *ngIf="!isAdmin">My account</span>
      <span class="our-comminment admin"  *ngIf="isAdmin">Admin mode</span>
      <span class="com-text"  *ngIf="!isAdmin">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit,
        sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
        Ut enim laboris nisi ut aliquip ex ea commodo consequat. Duis aute
        irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
      </span>
      <span class="com-text"  *ngIf="isAdmin">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit,
        sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
        Ut enim laboris nisi ut aliquip ex ea commodo consequat. Duis afugiat nulla pariatur.
      </span>
    </div>
    <div class="data">
      <div class="title-wrap">
        <p class="title">My personal data</p>
        <div class="buttons">
          <button class="edit" (click)="editData()">
            <fa-icon class="fas fa-pencil-alt" [icon]="['fas', 'pencil-alt']"  aria-pressed="true"></fa-icon>
          </button>
          <button class="edit" *ngIf="isButtonsShown" (click)="onSubmit(data_Form)">
            <fa-icon class="fas fa-check" [icon]="['fas', 'check']"  aria-pressed="true"></fa-icon>
          </button>
          <button class="edit" *ngIf="isButtonsShown" (click)="undo()">
            <fa-icon class="fas fa-undo" [icon]="['fas', 'undo']"  aria-pressed="true"></fa-icon>
          </button>
        </div>
      </div>
      <form #data_Form="ngForm" (ngSubmit)="onSubmit(data_Form)">
        <div class="wrap">
          <label for="name">First name: </label>
          <input [disabled]="isDisabled" id="name" [(ngModel)]="firstname" name="firstname">
        </div>
        <div class="wrap">
          <label for="lastname">Last name: </label>
          <input [disabled]="isDisabled" id="lastname" [value]="user.secondname" [(ngModel)]="secondname" name="secondname">

        </div>
        <div class="wrap">
          <label for="email">Email: </label>
          <input [disabled]="isDisabled" id="email" [value]="user.email" [(ngModel)]="email" name="email">

        </div>
        <div class="wrap">
          <label for="phone">Phone: </label>
          <input [disabled]="isDisabled" id="phone" [value]="user.phone" [(ngModel)]="phone" name="phone">

        </div>
        <div class="wrap">
          <label for="bday">Birthday: </label>
          <input [disabled]="isDisabled" id="bday" [value]="user.birthday" [(ngModel)]="birthday" name="birthday">

        </div>
      </form>

    </div>
  </div>
</app-frame>
