.main {
  height: 65vh;
  background-color: white;
  display: flex;
  justify-content: space-around;
  align-items: center;
  user-select: none;
}
.our-comminment {
  font: 15vmax Cookie, Annabelle, Adama;
display: flex;
  text-align: center;
  color: var(--darkchocolate);
  opacity: 0.4;
  text-shadow: var(--text-shadow);
  z-index: 0;
}
.desc{
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.admin{
  color: var(--orange);
  opacity: 1;
}
.com-text {
  font: 1vw JosefinSans Regular, Arial Narrow, Avtala, Arial Narrow;
  display: flex;
  position: absolute;
  bottom: 42%;
  width: 24%;
  text-align: center;
  text-indent: 8%;
  z-index: 10;

}
.data {
  border: var(--border);
  box-shadow: 14px 2px 3px 5px rgb(0 0 0 / 25%);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  width: 35%;
  height: auto;
  font: 2vmax JosefinSans Regular, Arial Narrow, Avtala, Arial Narrow;

}
.data .title{
  font: 3vmax Cookie, Annabelle, Adama;
  margin-bottom: 5%;
}
.wrap {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
}
.title-wrap {
  display: flex;
  flex-direction: column;
}
.buttons {
  display: flex;
  justify-content: space-between;
}
.edit {
  opacity: 0.5;
  border: none;
  background: white;
}
.edit:hover {
  opacity: 1;
}
.edit:active {
  transform: scale(1.1);
}
form {
  width: 70%;
}
input {
  width: 70%;
}
label {
  max-width: 25%;
  font: 1vmax JosefinSans Regular, Arial Narrow, Avtala, Arial Narrow;
}
.delAccount {
  font: 1vmax JosefinSans Regular, Arial Narrow, Avtala, Arial Narrow;
  color: var(--orange);
  border: dotted 2px var(--orange);
  width: fit-content;
}
.delAccount:hover {
  transform: scale(1.1);
}
.delAccount:active {
  transform: scale(1.2);
  background: white;
}
@media only screen and (max-width: 1024px) {
  .main {
    flex-direction: column;
  }
  .data {
    width: 90%;
  }
  .com-text {
    display: none;
  }
  label {
    font-size: 3vmax;
  }
}
