<div class="card">
  <button class="exit" type="submit" (click)="exit()">x</button>
  <form class="card-body" #signup_Form="ngForm" (ngSubmit)="onSubmit(signup_Form)">
    <div class="title"><span class="reg_lable">{{'signup.sign' | translate}}</span></div>
    <input  class="form-control reg-data" placeholder="{{'signup.name' | translate}}"  type="text" id="inp1" #name="ngModel" name="name"
            [(ngModel)]="signup_Form.name" required>
    <div class="error" *ngIf="!name.valid && name.touched">
      {{'signup.namereq' | translate}}
    </div>
    <input  class="form-control reg-data" placeholder="{{'login.placeem' | translate}}"  type="email" id="inp3" #email="ngModel" name="email"
            [(ngModel)]="signup_Form.email" required pattern="[^@\s]+@[^@\s]+\.[^@\s]+">
    <div class="error" *ngIf="!email.valid && email.touched">
      {{'login.emailexp' | translate}}
    </div>
    <input  class="form-control reg-data" placeholder="{{'account.bday' | translate}}"  type="date" id="inp4" #birthday="ngModel" name="birthday"
            [(ngModel)]="signup_Form.birthday" required>
    <div class="error" *ngIf="!birthday.valid && birthday.touched">
      {{'signup.bdayreq' | translate}}
    </div>
    <input  class="form-control reg-data" placeholder="{{'account.phone' | translate}}"  type="text" id="inp5" #phone="ngModel" name="phone"
            [(ngModel)]="signup_Form.phone" required>
    <div class="error" *ngIf="!phone.valid && phone.touched">
      {{'signup.phonereq' | translate}}
    </div>
    <input  class="form-control reg-data" placeholder="{{'login.placepass' | translate}}"  type="password" #password="ngModel" id="inp6" name="password"
            [(ngModel)]="signup_Form.password" required minlength="8">
    <div class="error" *ngIf="!password.valid && password.touched">
      {{'login.passreq' | translate}}.
    </div>
    <div class="btn-wrap">
      <button class="buttonOrange smallButton" type="submit" [disabled]="!signup_Form.form.valid">
        <span class="bnttext">{{'signup.sign' | translate}}</span>
      </button>
    </div>
  </form>
  <ngx-spinner bdColor = "rgba(0, 0, 0, 0.8)" size = "medium" color = "#fff" type = "square-jelly-box" [fullScreen] = "true"><p class="white"> {{'menucategory.loading' | translate}}... </p></ngx-spinner>
  <div *ngIf="errorText !== ''" class="danger">{{errorText}}</div>
</div>

