.card {
  width: 100%;
  height: 100%;
  margin: 0;
}
.orangebtn {
  width: 40%;
  height: 80%;
  position: relative;
  left: 10%;
  background-color: var(--orange);
  border-radius: 25px;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: var(--shadow);

}
.bnttext {
  font: var(--s) JosefinSans Regular, Arial Narrow, Avtala;
  color: white;
}
.orangebtn:hover{
  transform:scale(1.2);
  transition: all 0.5s ease-in-out ;
}
.orangebtn:active{
  transform:scale(1.8);
  transition: all 1s ease-in-out;
}
.orangebtn{
  transition: all 0.5s ease-in-out ;
}
.orangebtn:focus{
  outline: 0;
}
.card-body{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 100%;
  width: 90%;
  margin: auto;
}

input::placeholder{
  font-size: var(--s);
  color: #06263998;
}
input{
  font-size: var(--s);
  color: black;
}

.exit{
  width: 5%;
  position: absolute;
  left: 93%;
  bottom: 94%;
  top: 1%;
  background-color: lightgray;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.or{
  margin: 2%;
  font: var(--s) JosefinSans Regular, Arial Narrow, Avtala;
}
.signup{
  font: var(--s) JosefinSans Regular, Arial Narrow, Avtala;
  color: black;
  text-decoration: underline;
  cursor: pointer;
}

