<div class="card">
    <div class="exit" type="submit" (click)="exit()">x</div>
  <form class="card-body" #login_Form="ngForm" (ngSubmit)="onSubmit(login_Form)">
    <div class="title"><span class="reg_lable">Log in</span></div>
    <input  class="form-control reg-data" placeholder="Email"  type="email" id="inp1" #email="ngModel" name="email"
            [(ngModel)]="login_Form.email" required pattern="[^@\s]+@[^@\s]+\.[^@\s]+">
    <div class="error" *ngIf="!email.valid && email.touched">
      Email is required (Exp.:Smith@example.com, Smith@gmail.com, etc.).
    </div>
    <input  class="form-control reg-data" placeholder="Password"  type="password" #password="ngModel" id="inp2" name="password" [(ngModel)]="login_Form.password" required minlength="8">
    <div class="error" *ngIf="!password.valid && password.touched">
      Password is required (minimum 8 symbols).
    </div>
    <div class="btn-wrap">
      <button class="orangebtn" type="submit" [disabled]="!login_Form.form.valid">
        <span class="bnttext">Log On</span>
      </button>
      <span class="or">or</span>
      <a class="signup" (click)="toSignUp()">Sign Up</a>
    </div>

  </form>
  <div *ngIf="errorText !== ''" class="danger">{{errorText}}</div>
</div>

