.main{
  height: 100%;
  width: 100%;
  overflow: hidden;
}
.main2{
  display: none;
}
/*.category-card {*/
/*  background-color: white;*/
/*  width: 100%;*/
/*  height: 100%;*/
/*  box-shadow: var(--shadow);*/
/*  position: relative;*/
/*  display: flex;*/
/*  align-items: center;*/
/*  border: var(--border);*/

/*}*/
/*.card-content {*/
/*  width: 85%;*/
/*  height: 100%;*/
/*  margin: auto;*/
/*  display: flex;*/
/*  flex-direction: column;*/
/*  justify-content: space-between;*/
/*}*/
/*.card-header {*/
/*  height: 15%;*/
/*  display: flex;*/
/*  justify-content: space-between;*/
/*  align-items: center;*/
/*}*/
.hr-wrap-top {
  display: flex;
  align-items: center;
  width: 38%;
}
/*.logo-m {*/
/*  width: 8vw;*/
/*  height: 8vh;*/
/*  position: relative;*/
/*  background:transparent url('../../assets/logo.png') 0% 0% no-repeat padding-box;*/
/*  background-size: contain;*/
/*}*/
.heder-logo {
  height: 90%;
  width: 14%;
}
/*hr {*/
/*  height: 2px;*/
/*  background: var(--cappuccino);;*/
/*  width: 100%;*/
/*}*/
.card-body {
  height: 80%;
  display: flex;
  justify-content: space-between;
  overflow: hidden;
}
.right-side{
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}
.col{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 100%;
  width: 25%;
}
/*.card-footer {*/
/*  height: 15%;*/
/*  display: flex;*/
/*  flex-direction: column;*/
/*  justify-content: center;*/
/*}*/
.ingredients {
  height: 100%;
  width: 25%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  animation-name: ing-appearance;
  animation-duration: 1s;
  animation-timing-function: ease-out;
}
.hover-text {
  visibility: hidden;
}
.chooseNutr:hover, .chooseCup:hover {
  opacity: .3;
}
.chooseNutr:hover > .hover-text, .chooseCup:hover > .hover-text {
  visibility: visible;
  position: relative;
  top: 40%;
  left:  40%;
  z-index: 2;
  color: white;

}
.edit {
  color: rgba(191, 191, 191, 1);
  border: none;
  background: white;
}
.edit:hover {
  color: rgba(46, 49, 49, 1);

}
.edit:active {
  transform: scale(1.1);
}
@keyframes ing-appearance {
  0%{
    opacity: .5;
    height: 0;
  }
  100%{
    opacity: 1;
    height: 100%;
  }
}
.ingredient {
  display: flex;
  justify-content: space-between;
  height: 17%;
}
.ing-name {
  width: 60%;
  display: flex;
  align-items: center;
  font: 1vw JosefinSans Regular, Arial Narrow, Avtala;
  z-index: 100;
  line-height: .8;
  -webkit-text-stroke: .1px white;
}

.ing-spot {
  width: 32%;
  height: 100%;
  bottom: 25%;
  right: 66%;
  z-index: 10000;
}
.cup {
  height: 100%;
  position: relative;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  opacity: .5;
}
.btns-wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 25%;
}

.bnttext {
  font: 1vw JosefinSans Regular, Arial Narrow, Avtala;
  color: white;
  margin-left: 5%;
}
.orangebtn:hover {
  transform:scale(1.2);
  transition: all 0.5s ease-in-out ;
}
.orangebtn:active {
  transform:scale(1.8);
  transition: all 1s ease-in-out;
}
.orangebtn:focus {
  outline: 0;
}
.orangebtn {
  width: 70%;
  height: 45%;
  position: relative;
  background-color: var(--orange);
  border-radius: 12px;
  border: none;
  display: flex;
  align-items: center;
  box-shadow: var(--shadow);
  transition: all 0.5s ease-in-out ;

}
.graybtn{
  background-color: var(--vanilla);
}

.price {
  width: 60%;
  height: 20%;
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}
.numb {
  width: 75%;
  height: 100%;
  color: var(--orange);
  display: flex;
  justify-content: center;
  font: 5vw JosefinSans Regular, Arial Narrow, Avtala;
  position: relative;
}
.only-shek {
  width: 30%;
  height: 80%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.only {
  width: 100%;
  height: 30%;
  font: 1vw JosefinSans Regular, Arial Narrow, Avtala;
  display: flex;
  justify-content: center;
}
.shek {
  width: 100%;
  height: 70%;
  background-size: contain;
  background: transparent url('../../assets/shekel.png') no-repeat center;
  margin-top: 1vh;
}
.description {
  height: 40%;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.nutr{
  width: 25%;
  height: 80%;
  opacity: .5;
  background-size: contain;
  background-repeat: no-repeat;

}
.item-title {
  font: 1.5vw JosefinSans Regular, Arial Narrow, Avtala;
  display: flex;
  overflow-wrap: initial;
}

.item-desc {
  width: 100%;
  height: 70%;
  font: .8vw JosefinSans Regular, Arial Narrow, Avtala;
}
.card-footer {
  height: 15%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.splash {
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}
.add-ing-img {
  color: gray;
  opacity: .2;
}
.add-ing-img:hover {
  opacity: .8;
}
.coffee{
  width: 21%;
  height: 90%;
}
.remIng {
  display: flex;
  align-items: center;
  width: 15%;
}
.addIngBut {
  color: gray;
  display: flex;
  align-items: center;
}
.newIng {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 150%;
  margin-top: auto;
}
.visualIng {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 25%;
}
.textIng {
  display: flex;
  resize: none;
  width: 50%;
  height: 50%;
}
.addAllIng {
  display: flex;
  width: 15%;
  margin-left: 5%;
}
.undoIng {
  display: flex;
  align-items: center;
  width: 15%;
  margin-left: 5%;
}
.goback {
  color: white;
  filter: var(--drop-shadow);
  margin-left: 5%;
}
.check-wrap {
  display: flex;
  justify-content: space-around;
  width: 75%
}
.left-5{
  margin-left: 5%;
}
.around{
  justify-content: space-around;
}
.filtered{
  filter: drop-shadow(2px 4px 6px black)
}
.no-resize{
  resize: none
}
.width-90{
  width: 90%;
}
@media only screen and (max-width: 1024px) {
  .main{
    display: none;
  }
  .main2{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
  }
  .cup{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    opacity: .8;
  }
  .row1{
    height: 25%;
    width: 90%;
    display: flex;
    justify-content: space-between;

  }
  .row2{
    height: 25%;
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .row3{
    width: 90%;
    height: 50%;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin-bottom: 5%;
  }
  .subcol{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    width: 50%;
  }
  .price{
    height: 100%;
    width: 30%;
  }
  .only{
    font-size: 3.5vmin;
  }
  .numb{
    font-size: 20vmin;
  }
  .item-title{
    font-size: 9vmin;
    -webkit-text-stroke: .1px white;
  }
  .orangebtn{
    width: 90%;
    justify-content: center;
  }
  .graybtn{
    opacity: .7;
  }
  .ingredients-wrap, .nurts-wrap{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 90%;
    height: 90%;
    overflow: scroll;
  }
  .ingredients-wrap > .ingredient > .ing-name{
    font-size: 5vmin;
  }
  .nurts-wrap > .nutr{
    width: 35%;
    transform: scale(2);
    position: relative;
    left: 45%;
    top: 5%;
  }
}
