<div class="main">
  <div class="pics"></div>
  <div class="card-wrapper">
    <span class="ccn">Credit Card Number</span>
    <div class="card-number">
      <label>
        <input type="text" minlength="4" maxlength="4" placeholder="XXXX" [(ngModel)]="first4" name="first4" (keyup)="onDigitInput($event, 0)">
      </label>
      <label>
        <input type="text" minlength="4" maxlength="4" placeholder="XXXX" [(ngModel)]="second4" name="second4" (keyup)="onDigitInput($event, 1)">
      </label>
      <label>
        <input type="text" minlength="4" maxlength="4" placeholder="XXXX" [(ngModel)]="thirthd4" name="thirthd4" (keyup)="onDigitInput($event, 2)">
      </label>
      <label>
        <input type="text" minlength="4" maxlength="4" placeholder="XXXX" [(ngModel)]="last4" name="last4" (keyup)="onDigitInput($event, 3)">
      </label>
    </div>
    <span class="ccn">Expires</span>
    <label for="dob"></label><input class="card-expires" placeholder="MM/YYYY" minlength="5" maxlength="5" id="dob" [(ngModel)]="exp" (keyup)="onDigitInput($event, 4)">
    <span  class="ccn">CVV</span>
    <label for="cvv"></label><input class="card-expires" placeholder="XXX" minlength="3" maxlength="3" id="cvv" [(ngModel)]="cvv" (keyup)="onDigitInput($event, 5)">
    <div class="card-choice">
      <div class="card-choice-mini-wrap">
        <input id="visa" type="radio" name="payMethod" value="visa" (keyup)="onDigitInput($event, 6)">
        <label for="visa" class="visa"></label>
      </div>
      <div class="card-choice-mini-wrap">
        <input id="mastercard" type="radio" name="payMethod" value="mastercard">
        <label for="mastercard" class="mastercard"></label>
      </div>
      <div class="card-choice-mini-wrap">
        <input id="paypal" type="radio" name="payMethod" value="paypal">
        <label for="paypal" class="paypal"></label>
      </div>

    </div>
  </div>
  <div class="btn-wrapper">
    <button class="buttonOrange smallButton" type="submit" (click)="pay()">
      <span class="bnttext">Pay</span>
    </button>
  </div>
  <ngx-spinner bdColor = "rgba(0, 0, 0, 0.8)" size = "medium" color = "#fff" type = "square-jelly-box" [fullScreen] = "true"><p class="white_color"> Loading... </p></ngx-spinner>

</div>
