/*----------FONTS-------------*/
@font-face {
  font-family: Cookie;
  src: url('./assets/fonts/Cookie-Regular.ttf') format("opentype");
}
@font-face {
  font-family: JosefinSans Regular;
  src: url('./assets/fonts/JosefinSans-Regular.ttf') format("opentype");
}
@font-face {
  font-family: Arial Narrow;
  src: url('./assets/fonts/Arial-Narrow.ttf') format("opentype");
}
@font-face {
  font-family: Annabelle;
  src: url('./assets/fonts/Annabelle.ttf') format("opentype");
}
@font-face {
  font-family: Avtala;
  src: url('./assets/fonts/AvtalaCondensedMF.ttf') format("opentype"),
  url('./assets/fonts/AvtalaCondensedMF.eot') format("eot"),
  url('./assets/fonts/AvtalaCondensedMF.otf') format("otf"),
  url('./assets/fonts/AvtalaCondensedMF.svg') format("svg"),
  url('./assets/fonts/AvtalaCondensedMF.woff') format("woff");
}
@font-face {
  font-family: Adama;
  src: url('./assets/fonts/AdamaMF Bold.ttf') format("ttf"),
  url('./assets/fonts/AdamaMF Bold.eot') format("eot"),
  url('./assets/fonts/AdamaMF Bold.otf') format("otf"),
  url('./assets/fonts/AdamaMF Bold.woff') format("woff"),
  url('./assets/fonts/AdamaMF Bold.svg') format("svg");
}

/*325 - 768 - mobile*/
/*768 - 1024 - tablet*/
/*1024 - 1400 - tablet*/
/*1400 < desktop*/


/*-----------BUTTONS------------*/
button{
  display: flex;
  align-items: center;
  justify-content: center;
  border-style: none;
  border-radius: 25px;
  transform: scale(1.2);
  transition: all 0.5s ease-in-out;
  cursor: pointer;
  opacity: 1;
  position: relative;
  z-index: 10;
  margin: 5% !important;
  padding: 5%;
  width: fit-content;
  color: white;
}
.item-desc{
  overflow: hidden;
}
.buttonOrange{
  background-color: var(--orange);
}
.buttonGray{
  background-color: gray;
}
.bigButton{
  min-width: 10vmax;
  height: 8vmin;
}
.bigButton span{
  font-size: var(--m);
}
.bigMobButton{
  min-width: 10vmax;
  height: 8vmin;
  font-size: var(--m);
}
.smallButton{
  height: fit-content;
  min-width: 6vmax;
  min-height: 4vmin;
  font-size: var(--s);
}
.smallMobButton{
  height: fit-content;
  min-width: 6vmax;
  min-height: 5vmin;
  font-size: var(--s);
}

@media only screen and (max-width: 768px){
  :root{
    --xs: 14px;
    --s: 18px;
    --m: 20px;
    --l: 24px;
    --xl: 28px;
    --xxl: 80px;
  }
  .bigButton{
    width: 100px;
    height: 70px;
    display: flex;
  }

}

@media only screen and (min-width: 768px) and (max-width: 1400px){
  :root{
    --xs: 16px;
    --s: 18px;
    --m: 22px;
    --l: 26px;
    --xl: 30px;
    --xxl: 80px;
  }
  .smartphone {
    height: 100px;
    width: 120px;
  }
  .instascroll {
    height: 50px;
    width: 45px;
    overflow: hidden;
    border-radius: 25px;
  }
}
@media only screen and (min-width: 1400px){
  :root{
    --xs: 18px;
    --s: 20px;
    --m: 24px;
    --l: 28px;
    --xl: 32px;
    --xxl: 100px;
  }
  .smartphone {
    height: 350px;
    width: 500px;
  }
  .instascroll {
    height: 260px;
    width: 150px;
    overflow: hidden;
    border-radius: 25px;
  }
}
/*-----------COLORS------------*/
:root{
  --orange: #E04523;
  --beige: #EBD5D3;
  --darkgray: #18120D;
  --darkchocolate: #1F1010;
  --chocolate: #564437;
  --shadow: 14px 2px 3px 5px rgba(0,0,0,0.25);
  --border: solid rgba(0,0,0,0.25) 0px;
  --cappuccino: #AB9690;
  --vanilla: #E4D5CA;
  --text-shadow: 0 0 5px rgba(0,0,0,1);
  --drop-shadow: drop-shadow(2px 4px 6px black);
}
/*----------COMMON STYLES-------*/

.hidden{
  visibility: hidden;
}
.flex{
  display:flex;
}
.no-margin{
  margin: 0
}
.auto-margin{
  margin: auto;
}
.all-height{
  height: 100%;
}
.all-width{
  width: 100%;
}
.left-0{
  left: 0;
}
.no-width{
  width: 0;
}
.auto-height{
  height: auto;
}
.white_color{
  color: white;
}
.center-text{
  text-align: center;
}
.shadow-drop{
  filter: drop-shadow(2px 4px 6px black);
}
.column{
  flex-direction: column
}
.dotted-border{
  border: dotted;
}
.cardhead {
  top: 2%;
  left: 42%;
}
.card-content {
  width: 85%;
  height: 100%;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.card-header {
  height: 15%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 2% 0;
}
.card-body {
  height: 70%;
}
.card-footer {
  height: 15%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

input::placeholder{
  font-size: var(--xs);
  color: gray;
}
.category-card {
  background-color: white;
  width: 100%;
  height: 100%;
  box-shadow: var(--shadow);
  position: relative;
  display: flex;
  align-items: center;
  border: var(--border);
}
.help {
  font: var(--s) JosefinSans Regular, Arial Narrow, Avtala;
  justify-content: center;
  display: flex;
  align-items: flex-end;
}
mat-divider {
  margin: 0;
  border-top-width: 4px;
  border-top-style: solid;
  border-color: var(--darkgray);
  width: 100%;
}
.hr-wrap-top {
  display: flex;
  align-items: center;
  width: 38%;
}
.reg_lable{
  text-align: center;
  font: var(--s) JosefinSans Regular, Arial Narrow, Avtala;
  letter-spacing: 0;
  color: var(--orange);
  opacity: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.reg-data{
  width: 90%;
  height: 20%;
}
.error{
  color: red;
  font: var(--xs) JosefinSans Regular, Arial Narrow, Avtala;
  padding-left: 5%;
}
.btn-wrap{
  height: 20%;
  width: 90%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.danger{
  color: #a94442;
  background-color: #f2dede;
  padding: 2%;
  margin-top: 2%;
  border: 1px solid #EA2340;
  border-radius: 4px;
  margin-left: 2%;
  margin-right: 2%;
  font: var(--xs) JosefinSans Regular, Arial Narrow, Avtala;
  font-weight: bold;
}
hr {
  height: 2px;
  background: var(--cappuccino);;
  width: 100%;
}
.instagram {
  background: transparent url('./assets/instagram.png') no-repeat center;
  background-size: contain;
}
.facebook {
  background: transparent url('./assets/facebook.png') no-repeat center;
  background-size: contain;
  transform: scale(1.4);
}
.email {
  background: transparent url('./assets/email.png') no-repeat center;
  background-size: contain;
  transform: scale(0.8);
}
.phone {
  background: transparent url('./assets/phone.png') no-repeat center;
  background-size: contain;
  transform: scale(0.8);
}
.address {
  background: transparent url('./assets/address.png') no-repeat center;
  background-size: contain;
   transform: scale(0.8);
 }
.buttons {
  display: flex;
  justify-content: space-between;
  margin-bottom: 5%;
}
.logo-m {
  width: 8vw;
  height: 8vh;
  position: relative;
  background: transparent url('./assets/logo.png') no-repeat center;
  background-size: contain;
}
.only-shek {
  width: 25%;
  height: 59%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.scroll-to-top {
  position: fixed;
  bottom: 7vh;
  opacity: 0;
  transition: all .2s ease-in-out;
}
.show-scrollTop {
  opacity: 0.8;
  transition: all .2s ease-in-out;
}
.fa-chevron-up {
  margin: auto;
  color: white;
  opacity: 0.8;
  bottom: 11vh;
  position: relative;
  left: 2vw;
}
.splash {
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}
.coffee-splash {
  background: transparent url('./assets/coffee-splash.png') no-repeat center;
  background-size: contain;
}
.milk-splash {
  background: transparent url('./assets/milk-splash.png') no-repeat center;
  background-size: contain;
}
.juice-splash {
  background: transparent url('./assets/juice-splash.png') no-repeat center;
  background-size: contain;
}
.water-splash {
  background: transparent url('./assets/water-splash.png') no-repeat center;
  background-size: contain;
}
.tea-splash {
  background: transparent url('./assets/tea-splash.png') no-repeat center;
  background-size: contain;
  height: 33%;
  width: 16%;
}
.vegi-splash {
  background: transparent url('./assets/vegi.png') no-repeat center;
  background-size: contain;
}
.sprinkling-splash {
  background: transparent url('./assets/sprinkling-splash.png') no-repeat center;
  background-size: contain;
  height: 81%;
}
.candy-splash {
  background: transparent url('./assets/candy-splash.png') no-repeat center;
  background-size: contain;
  width: 33%;
  right: 60%;
  top: -19%;
}
.choco-splash {
  background: transparent url('./assets/choco-splash.png') no-repeat center;
  background-size: contain;
  width: 33%;
  right: 60%;
  top: -16%;
}
.shek {
  width: 100%;
  height: 70%;
  background: transparent url('./assets/shekel.png') no-repeat center;
  margin-top: 1vh;
  background-size: contain;
}


/*--------------FOOD----------*/
.cup {
  background: transparent url('./assets/coffee-cup.png') no-repeat center;
  background-size: contain;
}
.juice-cup{
  background: transparent url('./assets/juice-cup.jpg') no-repeat center;
  background-size: contain;
}
.sandwich {
  background: transparent url('./assets/sandwich.jpg') no-repeat center;
  background-size: contain;
  height: 50%;
  width: 60%;
  left: 0;
}
.donut {
  background-size: contain;
  background: transparent url('./assets/donut-pink.png') no-repeat center;
}
.sugar {
  background: transparent url('./assets/sugar.png') no-repeat center;
  background-size: contain;
}
.oranges{
  background: transparent url('./assets/orange.png') no-repeat center;
  background-size: contain;
}
.mint {
  background: transparent url('./assets/mint.png') no-repeat center;
  background-size: contain;
}
.chocolate {
  background: transparent url('./assets/chocolate.png') no-repeat center;
  background-size: contain;
  left: 4%;
  top: 33%;
}
.twix-right{
  background: transparent url('./assets/twix-right.png') no-repeat center;
  background-size: contain;
  height: 80%;
  width: 35%;
  left: 15%;
  transform: scale(1.5);
}
.mango{
  background: transparent url('./assets/mango.png') no-repeat center;
  background-size: contain;
  height: 80%;
  width: 10%;
}
.raspberry{
  background: transparent url('./assets/raspberry.png') no-repeat center;
  background-size: contain;
  height: 80%;
  width: 10%;
}
.caramel{
  background: transparent url('./assets/caramel.png') no-repeat center;
  background-size: contain;
  height: 80%;
  width: 10%;
}
.juice{
  background: transparent url('./assets/juice-splash.png') no-repeat center;
  background-size: contain;
  height: 80%;
  width: 10%;
}
.ice2{
  background: transparent url('./assets/ice.png') no-repeat center;
  background-size: contain;
  height: 80%;
  width: 10%;
}
.baget{
  background: transparent url('./assets/baget.png') no-repeat center;
  background-size: contain;
}
.letuce{
  background: transparent url('./assets/letuce.png') no-repeat center;
  background-size: contain;
}
.tomatoes{
  background: transparent url('./assets/tomatoes.png') no-repeat center;
  background-size: contain;
}
.cucumber{
  background: transparent url('./assets/cucumber.png') no-repeat center;
  background-size: contain;
}
.onion{
  background: transparent url('./assets/onion.png') no-repeat center;
  background-size: contain;
}
.onion-f{
  background: transparent url('./assets/onion-f.png') no-repeat center;
  background-size: contain;
}
.mozzarella{
  background: transparent url('./assets/mozzarella.png') no-repeat center;
  background-size: contain;
}
.cheese{
  background: transparent url('./assets/cheese.png') no-repeat center;
  background-size: contain;
}
.chiken{
  background: transparent url('./assets/chiken.png') no-repeat center;
  background-size: contain;
}
.beef{
  background: transparent url('./assets/beef.png') no-repeat center;
  background-size: contain;
}
.basil{
  background: transparent url('./assets/basil.png') no-repeat center;
  background-size: contain;
}
.spicies{
  background: transparent url('./assets/spicies.png') no-repeat center;
  background-size: contain;
}
.sugar {
  background: transparent url('./assets/sugar.png') no-repeat center;
  background-size: contain;
}
.flour {
  background: transparent url('./assets/flour.png') no-repeat center;
  background-size: contain;
}
.eggs {
  background: transparent url('./assets/eggs.png') no-repeat center;
  background-size: contain;
}
.cocoa {
  background: transparent url('./assets/cocoa.png') no-repeat center;
  background-size: contain;
}
.candle {
  background: transparent url('./assets/candle.png') no-repeat center;
  background-size: contain;
}
.cinnamon {
  background: transparent url('./assets/cinnamon.png') no-repeat center;
  background-size: contain;
}
.nutella {
  background: transparent url('./assets/nutella.png') no-repeat center;
  background-size: contain;
}
.yeast {
  background: transparent url('./assets/yeast.png') no-repeat center;
  background-size: contain;
}
.sprinkling {
  background: transparent url('./assets/sprinkling.png') no-repeat center;
  background-size: contain;
}
.butter {
  background: transparent url('./assets/butter.png') no-repeat center;
  background-size: contain;
}
.peanut-butter {
  background: transparent url('./assets/peanut-butter.png') no-repeat center;
  background-size: contain;
}
.almond {
  background: transparent url('./assets/almond.png') no-repeat center;
  background-size: contain;
}
.cream {
  background: transparent url('./assets/cream.png') no-repeat center;
  background-size: contain;
}
.apple{
  background: transparent url('./assets/apple.png') no-repeat center;
  background-size: contain;
}
.syrup {
  background: transparent url('./assets/syrup.png') no-repeat center;
  background-size: contain;
}
.honey {
  background: transparent url('./assets/honey.png') no-repeat center;
  background-size: contain;
}
.ice {
  background: transparent url('./assets/ice.png') no-repeat center;
  background-size: contain;
}
.oreo {
  background: transparent url('./assets/oreo.png') no-repeat center;
  background-size: contain;
}
.cinnamon {
  background: transparent url('./assets/cinnamon.png') no-repeat center;
  background-size: contain;
}
.blueberry {
  background: transparent url('./assets/blueberry.png') no-repeat center;
  background-size: contain;
}
.black-tea {
  background: transparent url('./assets/black-tea.png') no-repeat center;
  background-size: contain;
}
.bergamonia {
  background: transparent url('./assets/bergamonia.png') no-repeat center;
  background-size: contain;
}
.juice-splash {
  background: transparent url('./assets/juice-splash.png') no-repeat center;
  background-size: contain;
}
.limes {
  background: transparent url('./assets/lime.png') no-repeat center;
  background-size: contain;
}
.eucalyptus {
  background: transparent url('./assets/eucalyptus.png') no-repeat center;
  background-size: contain;
}
.rosemary {
  background: transparent url('./assets/rosemary.png') no-repeat center;
  background-size: contain;
}
.thyme {
  background: transparent url('./assets/thyme.png') no-repeat center;
  background-size: contain;
}
.chamomile {
  background: transparent url('./assets/chamomile.png') no-repeat center;
  background-size: contain;
}
.flour {
  background: transparent url('./assets/flour.png') no-repeat center;
  background-size: contain;
}
.eggs {
  background: transparent url('./assets/eggs.png') no-repeat center;
  background-size: contain;
}
.cinnamon {
  background: transparent url('./assets/cinnamon.png') no-repeat center;
  background-size: contain;
}
.yeast {
  background: transparent url('./assets/yeast.png') no-repeat center;
  background-size: contain;
}
.butter {
  background: transparent url('./assets/butter.png') no-repeat center;
  background-size: contain;
}
.tea-leaves {
  background: transparent url('./assets/tea-leafes.png') no-repeat center;
  background-size: contain;
}

/*html, body { height: 100%; }*/
/*body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }*/
.custom-dialog-container .mat-dialog-container {
  padding: 0;

}
/*---------TOASTS-----------*/
.toast-center-center {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.toast-top-center {
  top: 0;
  right: 0;
  width: 100%;
}
.toast-bottom-center {
  bottom: 0;
  right: 0;
  width: 100%;
}
.toast-top-full-width {
  top: 0;
  right: 0;
  width: 100%;
}
.toast-bottom-full-width {
  bottom: 0;
  right: 0;
  width: 100%;
}
.toast-top-left {
  top: 12px;
  left: 12px;
}
.toast-top-right {
  top: 12px;
  right: 12px;
}
.toast-bottom-right {
  right: 12px;
  bottom: 12px;
}
.toast-bottom-left {
  bottom: 12px;
  left: 12px;
}

/* toast styles */
.toast-title {
  font-weight: bold;
}
.toast-message {
  word-wrap: break-word;
}
.toast-message a,
.toast-message label {
  color: white;
}
.toast-message a:hover {
  color: #CCCCCC;
  text-decoration: none;
}
.toast-close-button {
  position: relative;
  right: -0.3em;
  top: -0.3em;
  float: right;
  font-size: 20px;
  font-weight: bold;
  color: white;
  text-shadow: 0 1px 0 white;
  /* opacity: 0.8; */
}
.toast-close-button:hover,
.toast-close-button:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
  opacity: 0.4;
}
/*Additional properties for button version
 iOS requires the button element instead of an anchor tag.
 If you want the anchor version, it requires `href="#"`.*/
button.toast-close-button {
  padding: 0;
  cursor: pointer;
  background: transparent;
  border: 0;
}
.toast-container {
  pointer-events: none;
  position: fixed;
  z-index: 999999;
}
.toast-container * {
  box-sizing: border-box;
}
.toast-container .ngx-toastr {
  position: relative;
  overflow: hidden;
  margin: 0 0 6px;
  padding: 15px 15px 15px 50px;
  width: 300px;
  border-radius: 3px 3px 3px 3px;
  background-position: 15px center;
  background-repeat: no-repeat;
  background-size: 24px;
  box-shadow: 0 0 12px gray;
  color: white;
}
.toast-container .ngx-toastr:hover {
  box-shadow: 0 0 12px black;
  opacity: 1;
  cursor: pointer;
}
/* https://github.com/FortAwesome/Font-Awesome-Pro/blob/master/advanced-options/raw-svg/regular/info-circle.svg */
.toast-info {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512' width='512' height='512'%3E%3Cpath fill='rgb(255,255,255)' d='M256 8C119.043 8 8 119.083 8 256c0 136.997 111.043 248 248 248s248-111.003 248-248C504 119.083 392.957 8 256 8zm0 110c23.196 0 42 18.804 42 42s-18.804 42-42 42-42-18.804-42-42 18.804-42 42-42zm56 254c0 6.627-5.373 12-12 12h-88c-6.627 0-12-5.373-12-12v-24c0-6.627 5.373-12 12-12h12v-64h-12c-6.627 0-12-5.373-12-12v-24c0-6.627 5.373-12 12-12h64c6.627 0 12 5.373 12 12v100h12c6.627 0 12 5.373 12 12v24z'/%3E%3C/svg%3E");
}
/* https://github.com/FortAwesome/Font-Awesome-Pro/blob/master/advanced-options/raw-svg/regular/times-circle.svg */
.toast-error {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512' width='512' height='512'%3E%3Cpath fill='rgb(255,255,255)' d='M256 8C119 8 8 119 8 256s111 248 248 248 248-111 248-248S393 8 256 8zm121.6 313.1c4.7 4.7 4.7 12.3 0 17L338 377.6c-4.7 4.7-12.3 4.7-17 0L256 312l-65.1 65.6c-4.7 4.7-12.3 4.7-17 0L134.4 338c-4.7-4.7-4.7-12.3 0-17l65.6-65-65.6-65.1c-4.7-4.7-4.7-12.3 0-17l39.6-39.6c4.7-4.7 12.3-4.7 17 0l65 65.7 65.1-65.6c4.7-4.7 12.3-4.7 17 0l39.6 39.6c4.7 4.7 4.7 12.3 0 17L312 256l65.6 65.1z'/%3E%3C/svg%3E");
}
/* https://github.com/FortAwesome/Font-Awesome-Pro/blob/master/advanced-options/raw-svg/regular/check.svg */
.toast-success {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512' width='512' height='512'%3E%3Cpath fill='rgb(255,255,255)' d='M173.898 439.404l-166.4-166.4c-9.997-9.997-9.997-26.206 0-36.204l36.203-36.204c9.997-9.998 26.207-9.998 36.204 0L192 312.69 432.095 72.596c9.997-9.997 26.207-9.997 36.204 0l36.203 36.204c9.997 9.997 9.997 26.206 0 36.204l-294.4 294.401c-9.998 9.997-26.207 9.997-36.204-.001z'/%3E%3C/svg%3E");
}
/* https://github.com/FortAwesome/Font-Awesome-Pro/blob/master/advanced-options/raw-svg/regular/exclamation-triangle.svg */
.toast-warning {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 576 512' width='576' height='512'%3E%3Cpath fill='rgb(255,255,255)' d='M569.517 440.013C587.975 472.007 564.806 512 527.94 512H48.054c-36.937 0-59.999-40.055-41.577-71.987L246.423 23.985c18.467-32.009 64.72-31.951 83.154 0l239.94 416.028zM288 354c-25.405 0-46 20.595-46 46s20.595 46 46 46 46-20.595 46-46-20.595-46-46-46zm-43.673-165.346l7.418 136c.347 6.364 5.609 11.346 11.982 11.346h48.546c6.373 0 11.635-4.982 11.982-11.346l7.418-136c.375-6.874-5.098-12.654-11.982-12.654h-63.383c-6.884 0-12.356 5.78-11.981 12.654z'/%3E%3C/svg%3E");
}
.toast-container.toast-top-center .ngx-toastr,
.toast-container.toast-bottom-center .ngx-toastr {
  width: 300px;
  margin-left: auto;
  margin-right: auto;
}
.toast-container.toast-top-full-width .ngx-toastr,
.toast-container.toast-bottom-full-width .ngx-toastr {
  width: 96%;
  margin-left: auto;
  margin-right: auto;
}
.ngx-toastr {
  background-color: #030303;
  pointer-events: auto;
}
.toast-success {
  background-color: #51A351;
}
.toast-error {
  background-color: #BD362F;
}
.toast-info {
  background-color: #2F96B4;
}
.toast-warning {
  background-color: #F89406;
}
.toast-progress {
  position: absolute;
  left: 0;
  bottom: 0;
  height: 4px;
  background-color: black;
  opacity: 0.4;
}
/* Responsive Design */
@media all and (max-width: 240px) {
  .toast-container .ngx-toastr.div {
    padding: 8px 8px 8px 50px;
    width: 11em;
  }
  .toast-container .toast-close-button {
    right: -0.2em;
    top: -0.2em;
  }
}
@media all and (min-width: 241px) and (max-width: 480px) {
  .toast-container .ngx-toastr.div {
    padding: 8px 8px 8px 50px;
    width: 18em;
  }
  .toast-container .toast-close-button {
    right: -0.2em;
    top: -0.2em;
  }
}
@media all and (min-width: 481px) and (max-width: 768px) {
  .toast-container .ngx-toastr.div {
    padding: 15px 15px 15px 50px;
    width: 25em;
  }
}
