@font-face {
  font-family: Cookie;
  src: url('../../assets/fonts/Cookie-Regular.ttf') format("opentype");
}
@font-face {
  font-family: JosefinSans Regular;
  src: url('../../assets/fonts/JosefinSans-Regular.ttf') format("opentype");
}
@font-face {
  font-family: Arial Narrow;
  src: url('../../assets/fonts/Arial-Narrow.ttf') format("opentype");
}
@font-face {
  font-family: Annabelle;
  src: url('../../assets/fonts/Annabelle.ttf') format("opentype");
}
@font-face {
  font-family: Avtala;
  src: url('../../assets/fonts/AvtalaCondensedMF.ttf') format("opentype");
}
@font-face {
  font-family: Adama;
  src: url('../../assets/fonts/AdamaMF Bold.ttf') format("opentype");
}
body {
  margin: 0;
  overflow: hidden;
}
.main2 {
  display: none;
}

:root {
  font-size: 1vw;
}

.welcome-section {
  width: 100%;
  background:transparent url('../../assets/wooden.jpg') 0% 0% no-repeat padding-box;
  height: 100vh;
  background-size: cover;
}
.main-logo {
  top: 6vh;
  left: 7vw;
  position: relative;

}
.navbar-wrap2 {
  display: none;
}
.smart-top {
  display: none;
}
.burg {
  background:transparent url('../../assets/burg.png') 0% 0% no-repeat padding-box;
  background-size: contain;
  background-position: center;
  opacity: 0.8;
}


.logo-l {
  height: 20vh;
  width: 13vw;
  position: relative;
  background:transparent url('../../assets/logo.png') 0% 0% no-repeat padding-box;
  background-size: contain;
}
.logo-m {
  width: 8vw;
  height: 8vh;
  position: relative;
  background:transparent url('../../assets/logo.png') 0% 0% no-repeat padding-box;
  background-size: contain;
}
.heder-logo {
  height: 70%;
  width: 14%;
}
.video {
  width: 100%;



}
@keyframes video-appearance {
  0% {
    opacity: 0;
  }
  50%{
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.video-wrap {
  width: 70vw;
  height: 60vh;
  position: relative;
  top: -14%;
  left: 27%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  animation-name: video-appearance;
  animation-duration: 5s;
}
.promocard {
  background-color: white;
  width: 38vw;
  height: 65vh;
  box-shadow: 14px 2px 3px 5px rgba(0,0,0,0.25);
  position: relative;
  bottom: 51vh;
  left: 4vw;
  display: flex;
  align-items: center;
  animation-name: card-appearance;
  animation-duration: 3s;
}
@keyframes card-appearance {
  0% {
    left: -50vw;
    opacity: 0;
  }
  100% {
    left: 4vw;
    opacity: 1;
  }
}

hr {
  height: 2px;
  background: #AB9690;
  width: 100%;
}
.hr-wrap-top {
  display: flex;
  align-items: center;
  width: 38%;
}
.cardhead {
  top: 2%;
  left: 42%;
}
.card-content {
  width: 85%;
  height: 100%;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.card-header {
  height: 15%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.card-body {
  height: 70%;

}
.card-footer {
  height: 15%;
  display: flex;
  flex-direction: column;

}
.ingredients {
  height: 70%;
  width: 33%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.ingredient {
  display: flex;
  justify-content: space-between;
  height: 17%;
}
.ing-spot {
  width: 50%;
}
.splash {
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}
.coffee-splash {
  background:transparent url('../../assets/coffee-splash.png') 0% 0% no-repeat padding-box;
  background-size: contain;
  background-position: center;

}
.milk-splash {
  background:transparent url('../../assets/milk-splash.png') 0% 0% no-repeat padding-box;
  background-size: contain;
  background-position: center;

}
.juice-splash {
  background:transparent url('../../assets/juice-splash.png') 0% 0% no-repeat padding-box;
  background-size: contain;
  background-position: center;

}
.water-splash {
  background:transparent url('../../assets/water-splash.png') 0% 0% no-repeat padding-box;
  background-size: contain;
  background-position: center;

}
.sugar {
  background:transparent url('../../assets/sugar.png') 0% 0% no-repeat padding-box;
  background-size: contain;
  background-position: center;

}
.oranges{
  background:transparent url('../../assets/orange.png') 0% 0% no-repeat padding-box;
  background-size: contain;
  background-position: center;
}
.mint {
  background:transparent url('../../assets/mint.png') 0% 0% no-repeat padding-box;
  background-size: contain;
  background-position: center;

}
.chocolate {
  background:transparent url('../../assets/chocolate.png') 0% 0% no-repeat padding-box;
  background-size: contain;
  background-position: center;
  left: 4%;
  top: 33%;
}
.mango{
  background:transparent url('../../assets/mango.png') 0% 0% no-repeat padding-box;
  background-size: contain;
  background-position: center;
  height: 80%;
  width: 10%;
}
.raspberry{
  background:transparent url('../../assets/raspberry.png') 0% 0% no-repeat padding-box;
  background-size: contain;
  background-position: center;
  height: 80%;
  width: 10%;
}
.caramel{
  background:transparent url('../../assets/caramel.png') 0% 0% no-repeat padding-box;
  background-size: contain;
  background-position: center;
  height: 80%;
  width: 10%;
}
.juice{
  background:transparent url('../../assets/juice-splash.png') 0% 0% no-repeat padding-box;
  background-size: contain;
  background-position: center;
  height: 80%;
  width: 10%;
}
.ice2{
  background:transparent url('../../assets/ice.png') 0% 0% no-repeat padding-box;
  background-size: contain;
  background-position: center;
  height: 80%;
  width: 10%;
}
.baget{
  background:transparent url('../../assets/baget.png') 0% 0% no-repeat padding-box;
  background-size: contain;
  background-position: center;

}
.letuce{
  background:transparent url('../../assets/letuce.png') 0% 0% no-repeat padding-box;
  background-size: contain;
  background-position: center;

}
.tomatoes{
  background:transparent url('../../assets/tomatoes.png') 0% 0% no-repeat padding-box;
  background-size: contain;
  background-position: center;

}
.cucumber{
  background:transparent url('../../assets/cucumber.png') 0% 0% no-repeat padding-box;
  background-size: contain;
  background-position: center;

}
.onion{
  background:transparent url('../../assets/onion.png') 0% 0% no-repeat padding-box;
  background-size: contain;
  background-position: center;

}
.onion-f{
  background:transparent url('../../assets/onion-f.png') 0% 0% no-repeat padding-box;
  background-size: contain;
  background-position: center;

}
.mozzarella{
  background:transparent url('../../assets/mozzarella.png') 0% 0% no-repeat padding-box;
  background-size: contain;
  background-position: center;

}
.cheese{
  background:transparent url('../../assets/cheese.png') 0% 0% no-repeat padding-box;
  background-size: contain;
  background-position: center;

}
.chiken{
  background:transparent url('../../assets/chiken.png') 0% 0% no-repeat padding-box;
  background-size: contain;
  background-position: center;

}
.beef{
  background:transparent url('../../assets/beef.png') 0% 0% no-repeat padding-box;
  background-size: contain;
  background-position: center;

}
.basil{
  background:transparent url('../../assets/basil.png') 0% 0% no-repeat padding-box;
  background-size: contain;
  background-position: center;
}
.spicies{
  background:transparent url('../../assets/spicies.png') 0% 0% no-repeat padding-box;
  background-size: contain;
  background-position: center;
}
.sugar {
  background:transparent url('../../assets/sugar.png') 0% 0% no-repeat padding-box;
  background-size: contain;
  background-position: center;

}
.flour {
  background:transparent url('../../assets/flour.png') 0% 0% no-repeat padding-box;
  background-size: contain;
  background-position: center;

}
.eggs {
  background:transparent url('../../assets/eggs.png') 0% 0% no-repeat padding-box;
  background-size: contain;
  background-position: center;

}
.cocoa {
  background:transparent url('../../assets/cocoa.png') 0% 0% no-repeat padding-box;
  background-size: contain;
  background-position: center;

}
.candle {
  background:transparent url('../../assets/candle.png') 0% 0% no-repeat padding-box;
  background-size: contain;
  background-position: center;

}
.cinnamon {
  background:transparent url('../../assets/cinnamon.png') 0% 0% no-repeat padding-box;
  background-size: contain;
  background-position: center;

}
.nutella {
  background:transparent url('../../assets/nutella.png') 0% 0% no-repeat padding-box;
  background-size: contain;
  background-position: center;

}
.yeast {
  background:transparent url('../../assets/yeast.png') 0% 0% no-repeat padding-box;
  background-size: contain;
  background-position: center;

}
.sprinkling {
  background:transparent url('../../assets/sprinkling.png') 0% 0% no-repeat padding-box;
  background-size: contain;
  background-position: center;

}
.butter {
  background:transparent url('../../assets/butter.png') 0% 0% no-repeat padding-box;
  background-size: contain;
  background-position: center;

}
.peanut-butter {
  background:transparent url('../../assets/peanut-butter.png') 0% 0% no-repeat padding-box;
  background-size: contain;
  background-position: center;

}
.almond {
  background:transparent url('../../assets/almond.png') 0% 0% no-repeat padding-box;
  background-size: contain;
  background-position: center;

}
.chocolate {
  background:transparent url('../../assets/chocolate.png') 0% 0% no-repeat padding-box;
  background-size: contain;
  background-position: center;
}
.water-splash {
  background:transparent url('../../assets/water-splash.png') 0% 0% no-repeat padding-box;
  background-size: contain;
  background-position: center;

}
.cream {
  background:transparent url('../../assets/cream.png') 0% 0% no-repeat padding-box;
  background-size: contain;
  background-position: center;

}
.apple{
  background:transparent url('../../assets/apple.png') 0% 0% no-repeat padding-box;
  background-size: contain;
  background-position: center;

}
.syrup {
  background:transparent url('../../assets/syrup.png') 0% 0% no-repeat padding-box;
  background-size: contain;
  background-position: center;

}
.honey {
  background:transparent url('../../assets/honey.png') 0% 0% no-repeat padding-box;
  background-size: contain;
  background-position: center;

}
.ice {
  background:transparent url('../../assets/ice.png') 0% 0% no-repeat padding-box;
  background-size: contain;
  background-position: center;

}
.oreo {
  background:transparent url('../../assets/oreo.png') 0% 0% no-repeat padding-box;
  background-size: contain;
  background-position: center;

}
.cinnamon {
  background:transparent url('../../assets/cinnamon.png') 0% 0% no-repeat padding-box;
  background-size: contain;
  background-position: center;

}
.blueberry {
  background:transparent url('../../assets/blueberry.png') 0% 0% no-repeat padding-box;
  background-size: contain;
  background-position: center;

}
.black-tea {
  background:transparent url('../../assets/black-tea.png') 0% 0% no-repeat padding-box;
  background-size: contain;
  background-position: center;

}
.bergamonia {
  background:transparent url('../../assets/bergamonia.png') 0% 0% no-repeat padding-box;
  background-size: contain;
  background-position: center;

}
.juice-splash {
  background:transparent url('../../assets/juice-splash.png') 0% 0% no-repeat padding-box;
  background-size: contain;
  background-position: center;

}
.limes {
  background:transparent url('../../assets/lime.png') 0% 0% no-repeat padding-box;
  background-size: contain;
  background-position: center;

}
.eucalyptus {
  background:transparent url('../../assets/eucalyptus.png') 0% 0% no-repeat padding-box;
  background-size: contain;
  background-position: center;

}
.rosemary {
  background:transparent url('../../assets/rosemary.png') 0% 0% no-repeat padding-box;
  background-size: contain;
  background-position: center;

}
.thyme {
  background:transparent url('../../assets/thyme.png') 0% 0% no-repeat padding-box;
  background-size: contain;
  background-position: center;

}
.chamomile {
  background:transparent url('../../assets/chamomile.png') 0% 0% no-repeat padding-box;
  background-size: contain;
  background-position: center;

}
.flour {
  background:transparent url('../../assets/flour.png') 0% 0% no-repeat padding-box;
  background-size: contain;
  background-position: center;

}
.eggs {
  background:transparent url('../../assets/eggs.png') 0% 0% no-repeat padding-box;
  background-size: contain;
  background-position: center;

}
.cinnamon {
  background:transparent url('../../assets/cinnamon.png') 0% 0% no-repeat padding-box;
  background-size: contain;
  background-position: center;

}
.yeast {
  background:transparent url('../../assets/yeast.png') 0% 0% no-repeat padding-box;
  background-size: contain;
  background-position: center;

}
.butter {
  background:transparent url('../../assets/butter.png') 0% 0% no-repeat padding-box;
  background-size: contain;
  background-position: center;

}
.ing-name {
  width: 60%;
  display: flex;
  align-items: center;
  font-family: JosefinSans Regular, Arial Narrow, Avtala;
  z-index: 100;
}
.cup {
  width: 42%;
  height: 81%;
  position: relative;
  left: 20%;
  top: -52%;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}
.order-now-btn {
  width: 36%;
  height: 20%;
  position: relative;
  top: -74%;
  left: 6%;
  background-color: #E04523;
  border-radius: 25px;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 14px 8px 2px 5px rgba(0,0,0,0.25);
}
.order-now-btn span {
  font: 1.9vw Avtala, Arial Narrow, JosefinSans Regular ;
  color: white;
}

.price {
  width: 47%;
  height: 45%;
  position: relative;
  top: -178%;
  left: 52%;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}
.numb {
  width: 75%;
  height: 100%;
  color: #E04523;
  display: flex;
  justify-content: center;
  font: 11vw JosefinSans Regular, Arial Narrow, Avtala;
  position: relative;
  top: 3vh;

}
.only-shek {
  width: 25%;
  height: 59%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.only {
  width: 100%;
  height: 30%;
  font: 2.1vw JosefinSans Regular, Arial Narrow, Avtala;
  display: flex;
  justify-content: center;
}
.shek {
  width: 100%;
  height: 70%;
  background:transparent url('../../assets/shekel.png') 0% 0% no-repeat padding-box;
  background-size: contain;
  background-position: center;
  margin-top: 1vh;
}
.description {
  width: 42%;
  height: 45%;
  position: relative;
  top: -156%;
  left: 57%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.item-title {

  font: 2vw JosefinSans Regular, Arial Narrow, Avtala;

}

.item-desc {
  width: 100%;
  height: 70%;
  font-family: JosefinSans Regular, Arial Narrow, Avtala;
}
.make-your-coffeebreak {
  width: 70%;
  height: 100%;
  font: 2vw Cookie, Annabelle, Adama;
  color: #EBD5D3;
}
.navbar-wrap {
  display: flex;
  width: 50vw;
  height: 13vh;
  position: relative;
  left: 45%;
  bottom: 69%;
}
.navbar {
  width: 100%;
  display: flex;
  list-style: none;
  justify-content: space-between;
  align-items: flex-end;
}
.li {
  display: flex;
  width: 15%;
  justify-content: space-between;
  flex-direction: column;
  height: 100%;
}
.li-icon {
  display: flex;
  height: 50%;
  justify-content: center;
  align-items: center;
  font: 3vw JosefinSans Regular, Arial Narrow, Avtala;
}

.li-href {
  display: flex;
  height: 30%;
  justify-content: center;
  align-items: center;
}
mat-divider {
  margin: 0;
  border-top-width: 4px;
  border-top-style: solid;
  border-color: #18120D;
  width: 100%;
}
.new-items-section {
  height: 50vh;
  background-color: white;
}
.new-items-wrap {
  width: 95vw;
  height: 45vh;
  margin: auto;
  display: flex;
  position: relative;
  top: 2.5vh;

}
.news {
  width: 60%;
}
.iamnew {
  width: 40%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

}
.bigwords {
  height: 30%;
  font: 8vw JosefinSans Regular,Arial Narrow, Avtala;
  color: #E04523;
  display: flex;
  justify-content: center;
  min-width: 30vw;

}
.branch-wrap > .bigwords {
  min-width: 68vw;
}
.sometext {
  width: 85%;
  font-family:  JosefinSans Regular, Arial Narrow, Avtala;
  height: 30%;
  display: flex;
  position: relative;
  left: 3%;

}
.orangebtn {
  width: 36%;
  height: 20%;
  position: relative;
  left: 10%;
  background-color: #E04523;
  border-radius: 25px;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 14px 8px 2px 5px rgba(0,0,0,0.25);

}
.bnttext {
  font: 1.9vw JosefinSans Regular, Arial Narrow, Avtala;
  color: white;
}
.join-us-section {
  width: 100%;
  background:transparent url('../../assets/wooden.jpg') 0% 0% no-repeat padding-box;
  height: 50vh;
  background-size: cover;
  position: absolute;
  z-index: 0;
}
.join-wrap {
  width: 60vw;
  height: 45vh;
  margin-left: 7%;
  position: relative;
  top: 2.5vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.contacts {
  width: 40%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.smartphone {
  width: 30%;
  height: 111%;
  background:transparent url('../../assets/smartphone.png') 0% 0% no-repeat padding-box;
  background-size: contain;
  position: absolute;
  margin-left: 104%;

}
.contact {
  height: 27%;
  display: flex;
  justify-content: space-between;
}
.contact-icon {
  width: 20%;
}
.contact-text {
  width: 75%;
  font: 2.5vw JosefinSans Regular, Arial Narrow, Avtala;
  display: flex;
  align-items: center;
}
.instagram {
  background:transparent url('../../assets/instagram.png') 0% 0% no-repeat padding-box;
  background-size: contain;
  background-position: center;

}
.facebook {
  background:transparent url('../../assets/facebook.png') 0% 0% no-repeat padding-box;
  background-size: contain;
  background-position: center;
  transform: scale(1.4);

}
.email {
  background:transparent url('../../assets/email.png') 0% 0% no-repeat padding-box;
  background-size: contain;
  background-position: center;
  transform: scale(0.8);

}
.join-text {
  display: flex;
  flex-grow: 5;
  flex-direction: column;
  justify-content: space-around;
  min-height: 50%;
  margin: 3vw;
  align-items: center;
}
.instascroll {
  position: absolute;
  z-index: -1;
  height: 34.3vh;
  margin-top: -3%;
  margin-left: 112.95%;
  width: 9.6vw;
  overflow: hidden;
}
.scroll-paper {
  background:transparent url('../../assets/instascroll.png') 0% 0% no-repeat padding-box;
  height: 107.3vh;
  background-size: cover;
  animation-duration: 6s;
  animation-name: slidein;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: cubic-bezier(0.7, 0.1, 0.8, 0.7);

}
@keyframes slidein {
  from {
    margin-top: 0%;
  }
  30%{
    margin-top: -50%;
  }
  30%{
    margin-top: -100%;
  }
  30%{
    margin-top: -200%;
  }

  to {
    margin-top: -350%;
  }
}
.find-branch-section {
  width: 100%;
  background:transparent url('../../assets/girl.jpg') 0% 0% no-repeat padding-box;
  background-position: center;
  height: 60vh;
  background-size: cover;
  margin-top: 23.2%;
}

.branch-wrap {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 65%;
  height: 86%;
  left: 7%;
  top: 7%;
}
.points-wrap {
  display: flex;
  justify-content: space-between;
  height: 60%;
  width: 68%;

}
.points {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  width: 54%;

}
.point {
  display: flex;
  justify-content: space-between;
  height: 30%;

}
.point-icon {
  display: flex;
  width: 20%;
  background:transparent url('../../assets/point.png') 0% 0% no-repeat padding-box;
  background-size: contain;
  background-position: center;

}
.point-text {
  display: flex;
  width: 75%;
  font: 2vw JosefinSans Regular, Arial Narrow, Avtala;
  align-items: center;

}
.somepointtext {
  width: 52%;
  left: 1%;
  height: 20%;
}
.btn2 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 42%;

}
.white-arrow {
  background:transparent url('../../assets/white_arrow.png') 0% 0% no-repeat padding-box;
  background-size: cover;
  height: 68%;
  position: relative;
  right: 9%;
  animation-name: arrow-moves;
  animation-iteration-count: infinite;
  animation-duration: 5.5s;
  animation-timing-function: linear;
}
@keyframes arrow-moves {
  60%{
    transform:rotate(0deg) scale(1);
  }
  70% {
    transform:rotate(-1deg);
  }
  80% {
    transform:rotate(0deg) scale(1.3);
  }
  90% {
    transform:rotate(1deg);
  }
  100% {
    transform:rotate(0deg) scale(1);
  }
}
.btn-other {
  width: 50%;
  height: 32%;
  left: 46%;
}
.footer {
  width: 100%;
  background:transparent url('../../assets/wooden.jpg') 0% 0% no-repeat padding-box;
  height: 50vh;
  background-size: cover;
}
.footer-wrap {
  width: 90%;
  height: 81%;
  margin: auto;
  position: relative;
  top: 10%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.low-href {
  margin: 0;
  border-top-width: 6px;
  width: 100%;
  height: 15%;
  align-items: center;
  display: flex;
}

.low-content {
  display: flex;
  justify-content: space-between;
  height: 130%;
  width: 100%;
}
.footer-left {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 41%;
  height: 60%;
  position: relative;
  top: 25%;
}
.low-logo {
  display: flex;
  width: 12%;
  height: 20vh;
}
.footer-right {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 41%;
  height: 65%;
  position: relative;
  top: 25%;

}
.footer-text {
  height: 50%;
  left: 0;
  width: 100%;
  font: 1.5vw JosefinSans Regular, Arial Narrow, Avtala;

}
.footer-coffee-break {
  height: 25%;
  color: #1F1010;
  width: 100%;
  font: 4.9vw Cookie, Annabelle, Adama;

}
.mini-navbar {
  display: flex;
  justify-content: space-between;
  height: 20%;
  align-items: center;

}
.mini-href {
  display: flex;
  height: 10%;
  border-top-width: 3px;
  margin: 0;
  width: 100%;

}
.footer-contacts {
  display: flex;
  justify-content: space-between;
  height: 50%;

}
.mini-nav-item {
  width: 15%;
}
.footer-cont {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  width: 50%;
  position: relative;
  left: -3%;


}
.low-contacts {
  display: flex;

}
.low-text {
  font: 2vw JosefinSans Regular, Arial Narrow, Avtala;

}
.footer-phone {
  font: 3.1vw JosefinSans Regular, Arial Narrow, Avtala;
  display: flex;
  align-items: center;
  color: #564437;
}
.menu {
  font: 2vw JosefinSans Regular, Arial Narrow, Avtala;
  justify-content: center;
  display: flex;
  align-items: flex-end;

}
.pointer {
  justify-content: center;
  display: flex;
}
.tray {
  justify-content: center;
  display: flex;
}
.account {
  justify-content: center;
  display: flex;
}
.lang {
  font: 2vw JosefinSans Regular, Arial Narrow, Avtala;
  justify-content: center;
  display: flex;
  align-items: flex-end;

}
.email2 {
  justify-content: center;
  display: flex;
}
.help {
  font: 2vw JosefinSans Regular, Arial Narrow, Avtala;
  justify-content: center;
  display: flex;
  align-items: flex-end;
}
app-navbar{
  width: 100%;
  display: flex;
  align-items: center;
}

.orangebtn:hover,.order-now-btn:hover {
  transform:scale(1.2);
  transition: all 0.5s ease-in-out ;
}
.orangebtn:active,.order-now-btn:active {
  transform:scale(1.8);
  transition: all 1s ease-in-out;
}
.orangebtn, .order-now-btn {
  transition: all 0.5s ease-in-out ;
}
.orangebtn:focus,.order-now-btn:focus {
  outline: 0;
}
.scroll-to-top {
  position: fixed;
  bottom: 7vh;
  opacity: 0;
  transition: all .2s ease-in-out;
}
.show-scrollTop {
  opacity: 0.8;
  transition: all .2s ease-in-out;
}

.fa-chevron-up {
  margin: auto;
  color: white;
  opacity: 0.8;
}

@media only screen and (max-width: 1024px) {
  .main, .scroll-to-top {
    display: none;
  }
  .main2 {
    display: block;
    background:transparent url('../../assets/wooden.jpg') 0% 0% no-repeat padding-box;
    height: 100vmax;
    background-size: cover;
  }
  .smart-logo {
    margin: auto;
    background:transparent url('../../assets/logo.png') 0% 0% no-repeat padding-box;
    background-size: contain;
    width: 22vmin;
    height: 14%;
    position: relative;
    top: 3%;
  }
  .smart-home-content {
    height: 65vmax;
    width: 100%;
    background: white;
    overflow: scroll;
  }
  .smart-nav {
    display: flex;
    width: 90%;
    list-style: none;
    margin: auto;
    position: relative;
    top: 2%;
    align-items: center;
    justify-content: space-around;
    height: 8vmax;
  }
  .burg {
    background:transparent url('../../assets/burg.png') 0% 0% no-repeat padding-box;
    background-size: contain;
    opacity: 0.8;
    background-position: center;
    justify-content: center;
  }
  .pointer2 {
    background:transparent url('../../assets/point.png') 0% 0% no-repeat padding-box;
    background-size: contain;
    background-position: center;
    justify-content: center;
  }
  .curlang,.smart-menu {
    font: 12vmin JosefinSans Regular, Arial Narrow, Avtala;
    vertical-align: center;
  }
  li {
    width: 18%;
    height: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  li > span {
    display: flex;
  }
  .li-menu{
    width: 30%;
  }
  .promocard{
    top: 4%;
    width: 92vmin;
    height: 60vmax;
    border: solid rgba(0,0,0,0.25) 0.01px;
    animation-name: none;
  }
  .cup {
    left: 0;
    margin: auto;
    width: 55%;
    height: 120%;
    top: -77%;
  }
  .order-now-btn {
    left: 0;
    margin: auto;
    top: -104%;
    width: 69%;
    height: 16%;
  }
  .order-now-btn span {
    font-size: 7vmin;
  }
  .ingredients {
    position: relative;
    bottom: 11%;
    width: 60%;
    align-items: baseline;
  }
  .ingredient {
    flex-direction: column;
    height: 25%;
  }
  .ing-spot {
    height: 100%;
  }
  .ing-name{
    font-size: 5vw;
    width: 100%;
  }
  .make-your-coffeebreak{
    display: none;
  }
  .card-footer {
    height: 7%;
  }
  .price {
    top: -216%;
    height: 29%;
    left: 46%;
    width: 59%;
  }
  .numb {
    font-size: 35vmin;
    top: 0;
  }
  .only {
    font-size: 4.8vmin;
  }
  .heder-logo {
    height: 100%;
    width: 21%;
    background-position: center;
  }
  .description {
    top: -185%;
    height: 40%;
    left: 70%;
    width: 36%;
    margin-left: 3%;
  }
  .item-title {
    font-size: 7vmin;
    overflow: hidden;
  }
  .new-items-wrap {
    top: 8.5vmax;
    flex-direction: column;
    height: 60vmax;
  }
  .bigwords {
    font-size: 18vmin;
    height: 15%
  }
  .news {
    height: 70%;
    width: 100%;
    overflow: hidden;
  }
  .orangebtn {
    width: 69%;
    height: 12%;
    left: 0;
    margin: auto;
  }
  .orangebtn span {
    font-size: 7vmin;
  }
  .contacts {
    height: 30vmax;
    width: 90%;
    margin: auto;
    position: relative;
    top: 13vmax;
  }
  .contact-text {
    font-size: 5.5vmin;
  }
  .find-branch-section {
    height: 26vmax;
    position: relative;
    top: 5vmax;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }
  .btn-other {
    width: 40%;
    height: 7vmax;
  }
  .find {
    height: 63%;
    font-size: 15vmin;
    margin: auto;
  }

}
@media only screen and (max-width: 1024px) and (orientation: landscape) {
  .smart-home-content {
    height: 70vmin;
  }
  .main2 {
    height: 100vmin;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .smart-logo {
    width: 16vmin;
    height: 8%;
    top: 2%;
  }
  .smart-nav {
    height: 10%;
  }
  li {
    height: 100%;
  }
  .promocard {
    margin: auto;
    left: 0;
  }
  .make-your-coffeebreak{
    display: none;
  }
  .description{
    height: 60%;
    margin-left: 2%;
  }
  .ing-name{
    font-size: 2vw;
  }
  .ingredients{
    width: 80%;
    align-items: baseline;
  }
}


