<app-frame>
  <div class="main">
    <div class="desc">
      <span class="our-comminment"  *ngIf="!isAdmin" [ngClass]="{'for_not_en': !isEng}">{{'account.title' | translate}}</span>
      <span class="our-comminment admin"  *ngIf="isAdmin" [ngClass]="{'for_not_en': !isEng}">{{'account.adminemode' | translate}}</span>
      <span class="com-text"  *ngIf="!isAdmin">{{'account.desc' | translate}}
      </span>
      <span class="com-text"  *ngIf="isAdmin">{{'account.adesc' | translate}}
      </span>
    </div>
    <div class="carousel">
      <a class="carousel-item">
        <div class="my-data"  routerLink="../personal_data"></div>
        <div class="title">{{'account.personaldata' | translate}}</div>
      </a>
      <a class="carousel-item" *ngIf="!isAdmin" (click)="cardClick = !cardClick">
        <div class="my-cards" *ngIf="!cardClick"></div>
        <div class="title" *ngIf="!cardClick">{{'account.mycards' | translate}}</div>
        <div class="title" *ngIf="cardClick">{{'account.mycards' | translate}}</div>
        <div class="gray_text" *ngIf="cardClick">{{'account.nocards' | translate}}</div>

      </a>
      <a class="carousel-item" *ngIf="!isAdmin">
        <div class="my-orders"  (click)="toMyOrders()"></div>
        <div class="title"  (click)="toMyOrders()">{{'account.myorders' | translate}}</div>
      </a>
      <a class="carousel-item" *ngIf="isAdmin">
        <div class="orders-control" routerLink="../orders_control"></div>
        <div class="title">{{'account.orderscontrol' | translate}}</div>
      </a>
      <a class="carousel-item" *ngIf="isAdmin">
        <div class="statistic" routerLink="../statistic"></div>
        <div class="title">{{'account.statistic' | translate}}</div>
      </a>

    </div>
  </div>
</app-frame>
