<app-frame>
  <div class="main">
    <span class="main-title">My account</span>
    <div class="desc">
      <span class="our-comminment">My account</span>
      <span class="com-text">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit,
        sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
        Ut enim laboris nisi ut aliquip ex ea commodo consequat. Duis aute
        irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
      </span>
      <div routerLink="../statistic">statistic</div>
      <div routerLink="../orders_control">orders controlS</div>
    </div>
    <div class="carousel">
      <a class="carousel-item">
        <div class="my-data"></div>
        <div class="title">Personal data</div>
      </a>
      <a class="carousel-item">
        <div class="my-cards"></div>
        <div class="title">My cards</div>
      </a>
      <a class="carousel-item">
        <div class="my-orders"></div>
        <div class="title">My orders</div>
      </a>

    </div>
  </div>
</app-frame>
