@font-face {
  font-family: Cookie;
  src: url('../../assets/fonts/Cookie-Regular.ttf') format("opentype");
}
@font-face {
  font-family: JosefinSans Regular;
  src: url('../../assets/fonts/JosefinSans-Regular.ttf') format("opentype");
}
@font-face {
  font-family: Arial Narrow;
  src: url('../../assets/fonts/Arial-Narrow.ttf') format("opentype");
}
@font-face {
  font-family: Annabelle;
  src: url('../../assets/fonts/Annabelle.ttf') format("opentype");
}
@font-face {
  font-family: Avtala;
  src: url('../../assets/fonts/AvtalaCondensedMF.ttf') format("opentype"),
  url('../../assets/fonts/AvtalaCondensedMF.eot') format("eot"),
  url('../../assets/fonts/AvtalaCondensedMF.otf') format("otf"),
  url('../../assets/fonts/AvtalaCondensedMF.svg') format("svg"),
  url('../../assets/fonts/AvtalaCondensedMF.woff') format("woff");
}
@font-face {
  font-family: Adama;
  src: url('../../assets/fonts/AdamaMF Bold.ttf') format("ttf"),
  url('../../assets/fonts/AdamaMF Bold.eot') format("eot"),
  url('../../assets/fonts/AdamaMF Bold.otf') format("otf"),
  url('../../assets/fonts/AdamaMF Bold.woff') format("woff"),
  url('../../assets/fonts/AdamaMF Bold.svg') format("svg");
}
.main {
  height: 65vh;
  background-color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  user-select: none;
}
.main-title{
  display: none;
}
.our-comminment {
  font: 15vmax Cookie, Annabelle, Adama;
display: flex;
  text-align: center;
  color: #1F1010;
  opacity: 0.4;
  text-shadow: 0 0 5px rgba(0,0,0,1);
  z-index: 0;
}
.com-text {
  font: 1vw JosefinSans Regular, Arial Narrow, Avtala;
  display: flex;
  position: absolute;
  bottom: 42%;
  width: 24%;
  text-align: center;
  text-indent: 8%;
  z-index: 10;

}
.desc{
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.admin{
  color: #E04523;
  opacity: 1;
}

.carousel {
  width: 50%;
  height: 80%;
}
.carousel-item {
  background-color: white;
  border: solid rgba(0,0,0,0.25) 0.01px;
  box-shadow: 14px 2px 3px 5px rgba(0,0,0,0.25);
  display: flex;
  flex-direction: column;
  width: 20vmax;
  height: 40vmin;
  align-items: center;
  justify-content: center;
}
.carousel-item:hover {
  cursor: pointer;
}
.carousel-item:active {
  cursor: pointer;
}
.my-cards{
  background:transparent url('../../assets/credit-cards.png') 0% 0% no-repeat padding-box;
  background-size: contain;
  background-position: center;
  width: 30%;
  height: 70%;
  transform: scale(1.8);
}
.my-data{
  background:transparent url('../../assets/account-card.png') 0% 0% no-repeat padding-box;
  background-size: contain;
  background-position: center;
  width: 30%;
  transform: scale(1.8);
  height: 70%;

}
.my-orders{
  background:transparent url('../../assets/orders-card.png') 0% 0% no-repeat padding-box;
  background-size: contain;
  background-position: center;
  width: 30%;
  transform: scale(1.8);
  height: 70%;

}
.orders-control{
  background:transparent url('../../assets/orders-control.png') 0% 0% no-repeat padding-box;
  background-size: contain;
  background-position: center;
  width: 30%;
  transform: scale(1.8);
  height: 70%;

}
.statistic{
  background:transparent url('../../assets/statistic.png') 0% 0% no-repeat padding-box;
  background-size: contain;
  background-position: center;
  width: 30%;
  transform: scale(1.8);
  height: 70%;

}
div:active{
  outline: none;
}
.title {
  font: 2vmax JosefinSans Regular, Arial Narrow, Avtala, Arial Narrow;
  color: black;
  width: min-content;
  text-align: center;
}
@media only screen and (max-width: 1024px){
  .desc {
    display: none;
  }
  .main-title {
    font: 12vmax Cookie, Annabelle, Adama;
  display: flex;
    text-align: center;
    color: #1F1010;
    opacity: 0.4;
    text-shadow: 0 0 5px rgba(0,0,0,1);
  }
  .main {
    flex-direction: column;
  }
  .carousel{
    width: 100%;
  }
  .carousel-item {
    width: 70vmin;
    height: 40vmax;
  }
  .title {
    font-size: 4vmax;
    width: 80%;
  }
}
@media only screen and (max-width: 1024px) and (orientation: landscape){
  .desc {
    display: flex;
  }
  .main-title{
    display: none;
  }
  .main {
    flex-direction: row;
  }
  .carousel {
    width: 50%;
    height: 100%;
  }
  .com-text {
    display: none;
  }
  .carousel-item{
    width: 20vw;
    height: 50vh;
  }
}
