  <div class="order-card">
    <div class="order-header">
      <div class="center-text">#{{data.id}}</div>
      <hr>
      <div>{{data.date | date:"dd MMM yyyy, h:mm a"}}</div>
    </div>
    <div class="order-card-body">
      <div class="prod-list-item" *ngFor="let p of data.ordered">
        <div class="prev">
          <div [ngStyle]="{'background-image': 'url('+p.img+')'}"></div>
          <span>{{p.title}}</span>
        </div>
        <div class="grey-text">X</div>
        <div class="width-30">{{p.sold}}</div>
      </div>
    </div>
  </div>

